<p class="alert alert-danger" *ngIf="!validation.ok">
    {{ validation.message }}
</p>
<div>
    <div class="form-effect mb-f-b">
        <input class="effect text-center" type="password" id="password" (keyup.enter)="onSubmit()" [(ngModel)]="password" placeholder="رمز عبور">
        <span class="focus-border">
            <i></i>
        </span>
    </div>
    <button class="btn btn-secendry btn-sm btn-block" (click)="onSubmit()">تایید</button>
</div>
<div class="row mt-a-b">
    <div class="col-xs-12 text-center">
        <a class="text-secendry footer-link" routerLink="/user/forget-password" [queryParams]="{id: userId, phone: username}">فراموشی رمز عبور</a>
    </div>
</div>