<div #tabDiv class="tab">
    <button *ngFor="let tab of tabs" class="tablinks" (click)="changeTab(tab)" [ngClass]="{'active': tab.isShow}" [ngStyle]="{'width.px': tabWidth}">{{ tab.title }}</button>
    <div class="underline" [ngStyle]="{'width.px': tabWidth, 'transform': 'translate(-' + currentTabIndex * tabWidth +'px, 0px)'}"></div>
</div>

<!-- Tab content -->
<div *ngIf="currentTab" [id]="'tab-' + currentTab.title" class="tabcontent">
    <ng-content></ng-content>
</div>