@import '../../../assets/scss/mixin/css3';
@import '../../../assets/scss/variables/color';

.tab {
    overflow: hidden;
    border: 1px solid map-get($colors, 'primary');
    background-color: map-get($colors, 'primary');
    position: relative;
    padding-right: 2px;
}

.tab .underline {
    display: block;
    height: 2px;
    position: absolute;
    top: 46px;
    background: map-get($colors, 'secendry');
    @include transition(transform 0.5s);
}

/* Style the buttons that are used to open the tab content */
.tab button {
    display: inline-block;
    background-color: inherit;
    float: right;
    border: none;
    border-right: 1px solid map-get($colors, 'light');
    outline: none;
    cursor: pointer;
    padding: 14px 6px;
    transition: 0.3s;
    color: map-get($colors, 'light');
    line-height: 20px;

    &:first-child {
        border-right: none;
    }
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: darken(map-get($colors, 'primary'), 5%);
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: darken(map-get($colors, 'primary'), 8%);
}

/* Style the tab content */
.tabcontent {
    padding: 6px 12px;
    border: 1px solid map-get($colors, 'primary');
    border-top: none;
}
@media only screen and (max-width: 400px) {
    .tab button {
        padding: 14px 0;
    }
}
