@import '../../../../assets/scss/variables/grid';
@import '../../../../assets/scss/variables/color';

#brand-logo {
    position: fixed;
    right: 0;
    top: 0;
    width: 70px;
    height: 70px;
    z-index: 1050;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    img {
        height: 100%;
        width: auto;
    }
}
#page-title {
    a,
    h1 {
        position: fixed;
        right: 70px;
        top: 0;
        height: 70px;
        padding: 15px 2rem;
        line-height: 2.5;
        z-index: 1050;
        overflow: hidden;
        font-weight: 700;
    }
    a {
        color: map-get($colors, 'dark');
        text-decoration: none;
        &:hover {
            color: map-get($colors, 'secendry');
        }
    }
}
#auth-box {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 70px;
    width: 250px;
    z-index: 1050;
    overflow: hidden;
    padding-top: 10px;
    padding-right: 20px;
    text-align: center;
    .login-register {
        text-align: center;
        font-size: 1.4rem;
        a,
        span {
            text-decoration: none;
            color: #1d3351;
            line-height: 50px;
            vertical-align: middle;
            display: inline-block;
            height: 50px;
        }
        a:hover {
            color: map-get($colors, 'secendry');
        }
    }
    .box {
        height: 50px;
        width: 50px;
        vertical-align: middle;
        .avatar {
            width: 44px;
            height: 44px;
            margin-top: 2px;
            border-radius: 50%;
        }
        .toggle {
            background: none;
            border: none;
            height: 28px;
            position: relative;
            padding: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
            i {
                position: absolute;
                top: 0;
                right: 0;
                margin-right: -6px;
                line-height: 1rem;
                margin-top: -6px;
                font-size: 3.8rem;
            }
            .badge {
                position: absolute;
                left: 32px;
                bottom: 3px;
            }
        }
        .exit {
            text-decoration: none;
            line-height: 3;
            text-align: center;
            position: relative;
            display: block;
            & i {
                position: absolute;
                top: 0;
                right: 0;
                margin-right: -6px;
                line-height: 1rem;
                margin-top: -6px;
                font-size: 3.8rem;
            }
        }
    }
    &.dark .box {
        .avatar {
            border: 2px solid #3d5680;
        }
        .toggle {
            color: #3d5680;
        }
        .exit {
            color: #3d5680;
        }
    }
    &.light .box {
        .avatar {
            border: 2px solid white;
        }
        .toggle {
            color: white;
        }
        .exit {
            color: white;
        }
    }
}
#nav-icon3 {
    margin-top: 15px;
    margin-right: 12px;
    width: 30px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
#nav-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #ff0000;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}
/* Icon 3 */
#nav-icon3 span:nth-child(1) {
    top: 0px;
}
#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
    top: 10px;
}
#nav-icon3 span:nth-child(4) {
    top: 20px;
}
#nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}
#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}
button {
    outline: none;
}
.logo-responsive {
    z-index: 1039;
    display: block;
    position: fixed;
    left: 10px;
    top: 10px;
    & img {
        height: 50px;
        width: auto;
    }
}
.show-responsive {
    display: none;
}
@media only screen and (max-width: map-get($regbreakpoints, sm)) {
    .show-responsive {
        display: block;
    }
    .hide-responsive {
        display: none;
    }
    #page-title {
        width: 70px;
    }
}
