<div id="brand-logo">
    <img src="assets/images/logo-brand.svg" alt="Reglazh Company" class="hide-responsive">
    <div (click)="onToggleRightSidebar()" class="show-responsive">
        <div id="nav-icon3" [ngClass]="{'open': isOpenRight}">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>

<div id="page-title" class="hide-responsive">
    <a href="https://www.reglazh.com/"> وب سایت </a>
</div>

<div *ngIf="isLogin" id="auth-box" [ngClass]="isOpenLeft ? 'light' : 'dark'">
    <div class="row">
        <div class="col-sm-4 col-xs-3">
            <div class="box">
                <img [src]="avatarImagePath" alt="user image" class="avatar">
            </div>
        </div>
        <div class="col-sm-4 col-xs-3">
            <div class="box">
                <button (click)="onToggleLeftSidebar()" class="toggle">
                    <i class="icon" [ngClass]="isOpenLeft ? 'icon-left-c' : 'icon-notification-c'"></i>
                    <span class="badge badge-danger">1</span>
                </button>
            </div>
        </div>
        <div class="col-sm-4 col-xs-3">
            <div class="box">
                <a (click)="logout()" class="exit">
                    <i class="icon icon-off icon-3x"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!isLogin" id="auth-box">
    <div class="login-register">
        <a routerLink="/user/login" href="">ورود</a>
        <span>&nbsp; | &nbsp;</span>
        <a routerLink="/user/register" href="">ثبت نام</a>
    </div>
</div>

<div class="logo-responsive show-responsive">
    <img src="../../../assets/images/logo-brand.svg" alt="Reglazh Company">
</div>