<div class="wrapper container-fluid">
    <div class="row center-xs">
        <div class="col-lg-9 col-md-10 col-sm-11 col-xs-12 mt">
            <tabs [activeTab]="changeTab">
                <tab title="مشخصات">
                    <app-detailes [sc]="formData"></app-detailes>
                </tab>

                <tab title="سرویس ها">
                    <app-services [sc]="formData"></app-services>
                </tab>
                <tab title="پرسنل">
                    <app-members [sc]="formData"></app-members>
                </tab>
                <tab title="مدارک">
                    <app-attachment [sc]="formData"></app-attachment>
                </tab>
                <tab title="ساعات کاری">
                    <app-working-hours [sc]="formData"></app-working-hours>
                </tab>
                <app-submit-box [sc]="formData" [changeTab]="changeTab"></app-submit-box>
            </tabs>
        </div>
    </div>
</div>