$badge-border-radius: 15px;
%badge-property {
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    padding: 6px 4px 2px 4px;
    line-height: 10px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 15px;
    @include border-radius($badge-border-radius);
}
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
        -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
}
