@import "font-size";
$btn-padding-y-lg: 10px;
$btn-padding-x-lg: 16px;

$btn-padding-y-sm: 8px;
$btn-padding-x-sm: 15px;

$btn-padding-y-xs: 5px;
$btn-padding-x-xs: 10px;


$btn-line-height-lg: 1.5;

$btn-line-height-sm: 1.33;

$btn-line-height-xs: 1.33;

$btn-border-radius: 3px;
