$link:    #17a2b8;
$light: #fff;
$gray: #666;

$colors: (
    "primary" : #3d5680,
    "secendry" : #ff0000,
    "meta-primary" : #1d3351,
    "light" : #fff,
    "dark" : #000
);
$status: (
    "success" : #28a745,
    "danger" : #dc3545,
    "warning" : #fd7e14,
    "info" : #17a2b8
);

