.filter-box {
    background: transparent;
}
.box-title {
    border-bottom: 1px solid #3d5680;
    padding: 5px;
    margin-bottom: 20px;
}
select {
    height: 38px;
    padding: 0 !important;
    padding-right: 34px !important;
    font-size: 0.8rem;
    line-height: 1.5;
}
select.minimal {
    background-position: calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
}
select.minimal:focus {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
}
.arrow {
    display: none;
}
@media only screen and (max-width: 500px) {
    .arrow {
        display: block;
    }
    .display {
        display: none;
    }
    .box-title {
        position: relative;
        span {
            width: 10px;
            height: 10px;
            position: absolute;
            right: 25px;
            cursor: pointer;
        }
    }
}
