<h1 class="box-title">
    <span class="arrow" (click)="toggleVisibility()">+</span>
    جستجوی مراکز خدماتی
</h1>

<div class="" [@visibilityChanged]="visibility">

    <form (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-xs-6">
                <button class="btn btn-block-primary btn-sm full-width" routerLink="/service-center/map-view" routerLinkActive="active">نقشه</button>
            </div>
            <div class="col-xs-6">
                <button class="btn btn-block-primary btn-sm full-width" routerLink="/service-center/card-view" routerLinkActive="active">لیست</button>
            </div>
        </div>
        <div class="form-effect">
            <select [(ngModel)]="filterForm.groups" class="minimal effect" name="group" id="groups-input">
                <option *ngFor="let g of serviceGroups" [ngValue]="g">{{ g.title }}</option>
            </select>
            <span class="focus-border">
                <i></i>
            </span>
        </div>
        <div class="form-effect">
            <input class="effect" type="text" id="name-input" name="title" [(ngModel)]="filterForm.name" placeholder="نام تعمیرگاه">
            <span class="focus-border">
                <i></i>
            </span>
        </div>
        <div>
            <button class="btn btn-primary btn-sm full-width" type="submit">جستجو</button>
        </div>
    </form>
</div>