<div class="overlay"></div>
<div class="container-box">
    <a (click)="cancel()" class="close"></a>
    <div class="row">
        <div class="col-xs-12">
            <p class="modal-body">{{ title }}</p>
        </div>
    </div>
    <div class="row modal-footer">
        <div class="col-xs-6">
            <button class="btn btn-dark btn-sm" (click)="cancel()">انصراف</button>
        </div>
        <div class="col-xs-6">
            <button class="btn btn-success btn-sm" (click)="confirm()">تایید</button>
        </div>
    </div>
</div>