<div class="workshop-members margin-top">
    <div class="row center-xs row-min-width">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <search [datas]="serviceSearchResult" [value]="SelectedService" (chageValue)="onChangeService($event)" [options]="{placeholder: 'سرویس'}"
                title="سرویس"></search>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <search [datas]="carModelResult" [value]="selectedServiceCarModel" (changeTerm)="getCarModel($event)" (chageValue)="onChangeServiceCarModel($event)"
                [options]="{placeholder: 'خودرو'}" title="خودرو"></search>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <div class="form-effect">
                <input currencyMask class="effect" [(ngModel)]="price" [options]="{ prefix: '', suffix: 'تومان', precision: 0}" placeholder="قیمت"
                    title="قیمت">
                <span class="focus-border">
                    <i></i>
                </span>
            </div>
        </div>
        <div class="plus col-xs-6" (click)="addService()" title="اضافه کردن به لیست">
            <div class="addserviceimage">
                <img src="assets/images/add-btn.svg">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="parent-table margin-top">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th>سرویس</th>
                            <th>قیمت</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let service of sc.services">
                            <td>{{ service.title }}</td>
                            <td>{{service.price}}</td>
                            <td>
                                <button (click)="removeService(service)" class="remove-btn">
                                    <i class="icon icon-close icon-1x"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>

</div>