.margin-top {
    margin-top: 20px;
}
.workshop-members {
    .row-min-width {
        padding-left: 50px;
        position: relative;
        select {
            font-size: 0.8rem;
            padding: 0.3em 3.5em 0.5em 1em !important;
        }
        input {
            background-color: #fff;
        }
        .plus {
            position: absolute;
            left: 0px;
            top: 0px;
            cursor: pointer;
            .addserviceimage {
                img {
                    width: 35px;
                }
            }
        }
    }
}
table {
    thead {
        th {
            padding: 10px 0;
            font-size: 0.8rem;
        }
    }
    tbody {
        td {
            line-height: 2;
            font-size: 0.8rem;
        }
    }
}
.remove-btn {
    background: none;
    border: none;
    color: #ff0000;
    cursor: pointer;
}
.price-unit {
    text-align: center;
    line-height: 2.1rem;
}
@media only screen and (max-width: 767px) {
    .workshop-members .row-min-width .plus {
        position: static;
    }
    .workshop-members .row-min-width {
        padding-left: 0;
    }
    .workshop-members .row-min-width .plus {
        .addserviceimage {
            background: #00a9ff;
            border-radius: 3px;
            line-height: 0;
            width: 100%;
            img {
                width: 35px;
            }
        }
    }
}
