@import '../../../../../assets/scss/variables/color';
@import '../../../../../assets/scss/mixin/css3';

.register-car-box {

  section {
    border: 1px solid map-get($colors,primary);
    padding-bottom: 50px;
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    &.header {
      padding: 10px;
      text-align: center;
      background: #3d5680;
      border-radius: 5px 5px 0 0;
      color: #fff;
      margin-top: 20px;
    }
  }
}
.btn-box {
  text-align: center;
  margin-top: 10px;
}
.company-list {
    height: 150px;
    width: 120px;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
    span {
        display: inline-block;
        word-wrap: break-word;
        max-width: 120px;
        font-size: 0.8rem;
        opacity: 0;
    }
    &.active {
        border: 1px solid map-get($colors,primary);
        border-radius: 3px;
        span {
            opacity: 1;
            -webkit-transition: opacity 1s; /* Safari */
            transition: opacity 1s;
        }      
    }

    &:hover {
        background-color: lighten(map-get($colors,primary), 50%);
        border-radius: 5px;
        -webkit-transition: background-color 1s; /* Safari */
        transition: background-color 1s;
        span {
            opacity: 1;
            -webkit-transition: opacity 1s; /* Safari */
            transition: opacity 1s;
        }

    }
    input[type="radio"] {
        display: none;
    }
    label {
        display: block;
        color:map-get($colors, primary);
        font-family: sans-serif;
        font-weight: bold;
        img {
            display: block;
            margin: auto;
            vertical-align: middle;
            margin-bottom: 15px;
        }
        
        
    }
}
@media only screen and (max-width: 600px) {
    .register-car-box {

        section {
          max-height: 300px;
        }
    }
}