<div class="register-car-box">
  <section class="header">ثبت خودروی جدید</section>
  <section>
      <div *ngIf="companies" class="row center-xs">
          <div *ngFor="let company of companies">
            <div  class="col-xs-1">
              <div class="company-list" [ngClass]="{'active': company.id == selectedCompanyId}">
                <label [for]="company.id">
                  <img src="{{ company.image }}" alt="{{company.title}}">
                  <span>{{ company.title }}</span>
                </label>
                <input type="radio" [id]="company.id" name="company" [(ngModel)]="selectedCompanyId" [value]="company.id">
              </div>
            </div>
          </div>
        </div>
  </section>
</div>

<div class="btn-box">
  <div class="row center-xs">
    <div class="col-xs-3">
        <button type="button" class="btn btn-primary btn-sm full-width" (click)="cancel()">انصراف</button>
    </div>
    <div class="col-xs-3">
        <button type="button" class="btn btn-primary btn-sm full-width" [disabled]="!selectedCompanyId" (click)="next()">ادامه</button>
    </div>
  </div>

</div>

