@import "variables/color";
@import "variables/font-size";
@import "variables/alert-size";

.alert {
    font-size: $font-sm;
    border: 1px solid transparent;
    @include border-radius($alert-radius);
    margin-bottom: $alert-margin;
    padding: $alert-padding-y $alert-padding-x;
    opacity: $alert-opacity;
    transition:opacity $alert-hide-time linear;
    text-align: center;
}
.alert.call {
    opacity: $zero-alert;
}
@each $name, $color in $allcolor {
    .alert-#{$name} {
        color: $color !important;
        border-color: $color !important;
        background-color: lighten($color, $alert-bg-percent); 
    }
}

