@import 'variables/badge-size';

.badge {
    @extend %badge-property;
}

@each $name, $color in $allcolor {
    .badge-#{$name} {
        color: $light !important;
        background-color: $color !important; 
    }
}