@import "variables/color"; 
@import "color";
@import "variables/btn-size";
@import "variables/btn-effect";
.btn {
    display: inline-block;
    border: none;
    background-color: none;
    background-image: none;
    color: $light;
    margin-bottom: 10px;
}

// btn-size

@mixin button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius) {
    padding: $padding-y $padding-x;
    font-size: $font-size;
    line-height: $line-height;
    border-radius: $border-radius;
}

.btn-lg {
    @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $font-lg, $btn-line-height-lg, $btn-border-radius);
}
.btn-sm {
    @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-md, $btn-line-height-sm, $btn-border-radius);
}
.btn-xs {
    @include button-size($btn-padding-y-xs, $btn-padding-x-xs, $font-sm, $btn-line-height-xs, $btn-border-radius);
}
// btn-effect 
@each $name, $color in $allcolor {
    .btn-#{$name} {
        border-color: $color !important;
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px transparent;
        position: relative;
        background-color: $color !important;
        @include transition(color 0.3s);

        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 3px;
            background-color: darken($color, 10%);
            -webkit-transform: scale(0);
            transform: scale(0);
            @include transition(transform 0.3s ease-out);
        }
        &:hover, &:focus, &:active, &.active {
            color: white;
        }
        &:hover:before, &:focus:before, &:active:before, &.active:before {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    .btn-#{$name}:disabled,
    .btn-#{$name}[disabled] {
        cursor: not-allowed;
    }

    .btn-#{$name}:disabled::before,
    .btn-#{$name}[disabled]::before{
        transform: scale(1);
    }
}
@each $name, $color in $allcolor {
    .btn-block-#{$name} {
        border-width: 1px;
        border-style: solid;
        border-color: $color !important;
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px transparent;
        position: relative;
        color: $color;
        background-color: $light !important;
        @include transition(color 0.3s);
        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 3px;
            background-color: darken($color, 10%);
            -webkit-transform: scale(0);
            transform: scale(0);
            @include transition(transform 0.3s ease-out);
        }
        &:hover, &:focus, &:active, &.active {
            color:$light;
        }
        &:hover:before, &:focus:before, &:active:before, &.active:before {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
}

