.img-card {
    margin:auto;
    width: 100%;
    img {
        width: 100%;
        max-height: 300px;
    }
    .description {
        h1 {
            font-weight: 700;
        }
        box-sizing: border-box;
        padding: 15px;
        text-align: justify;
    }
}
.card {
    @include box-shadow(0px, 0px, 15px, rgba(0,0,0,0.5), '');
    border: 1px solid #ccc;
    text-align: right;
    @include border-radius(5px);
    .card-header {
        border-bottom: 1px solid #ccc;
        padding: 10px;
    }
    .card-body {
        padding: 10px;
    }
    .card-footer {
        border-top: 1px solid #ccc;
        padding: 10px;
    }
}
.card-view {
    direction: rtl;
    background-color: #ebecee;
    border-radius: 3px;
    text-align: right;
    padding: 10px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 3px 3px 10px -5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 3px 3px 10px -5px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 10px -5px rgba(0, 0, 0, 0.3);
    h1 {
        float: right;
        font-size: 1.1rem;
        font-weight: normal;
        color: map-get($colors, primary);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 70%;
        height: 20px;
    }
    h2 {
        float: left;
        font-size: 1rem;
        font-weight: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 30%;
        text-align: left;
    }
    .details {
        background-color: #fff;
        @include border-radius(5px);  
        padding-bottom: 10px;
        margin-bottom: 10px;
        margin-top: 6px; 
        overflow: hidden;
        img {
            width: 100%;
            height: 150px;
            border-radius: 5px 5px 0 0;
        }
        h3 {
            padding-right: 10px; 
            margin-bottom: 15px;
        }
        i {
            font-size: 2em;
            line-height: 1rem;
            display: inline-block;
            vertical-align: top;
            color: #ccc;
        }
        p {
            padding-right: 20px;
            line-height: 1.2;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &:last-child {
                margin-top: 6px;
            }
        }
    }
}

