.label-container {
    display: block;
    position: relative;
    padding-left: 27px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.label-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

.label-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.label-container input:checked ~ .checkmark {
    background-color: #3399FF;
    border-radius: 3px;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.label-container input:checked ~ .checkmark:after {
    display: block;
}
.label-container .checkmark:after {
    left: 9px;
    top: 3px;
    width: 3px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
// radio

label.label-container.radio-style .checkmark {
    border-radius: 50%;
}

.label-container.radio-style input:checked ~ .checkmark {
    border: 1px solid #3399FF;
    background-color: #eee;
    border-radius: 50%;
}

.label-container.radio-style .checkmark:after {
    left: 0;
    top: 0;
    width: 4px;
    height: 4px;
    border: solid #3399FF;
    border-width: 2px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background-color: #3399FF;
    margin: auto;
}

