main.collapse {
  margin: 20px auto;
  padding: 10px 0;
  box-shadow: 0 3px 5px rgba(0,0,0,0.3);
  text-align: right;

  h2 {
    text-align: center;
  }
  p {
    font-size: 13px;
  }
  input {
    display: none;
    visibility: hidden;
  }
  label {
    display: block;
    padding: 0.5em;
    border-bottom: 1px solid #CCC;
    color: $gray;

    &:hover {
      color: #000;
    }
    &::after {
      font-family: Consolas, monaco, monospace;
      font-weight: bold;
      font-size: 15px;
      content: "+";
      vertical-align: text-top;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 3px;
      background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);
      text-align: center;
    }
  }

  #expand {
    height: 0px;
    overflow: hidden;
    transition: height 0.5s;
  }
  section {
    padding: 0 20px;
  }
  #toggle:checked ~ #expand {
    height: 250px;
  }
  #toggle:checked ~ label::after {
    content: "-";
  }
}
