@import "variables/color";

$allcolor: map-merge($colors, $status);

@each $name, $color in $allcolor {
    .text-#{$name} {
        color: $color !important;
    }
}
@each $name, $color in $allcolor {
    .bg-#{$name} {
        background-color: $color !important;
    }
}
@each $name, $color in $allcolor {
    .border-#{$name} {
        border-color: $color !important;
    }
}
