.form-effect {
  position: relative;
  margin-bottom: 10px;
  @include border-radius(3px);
  textarea {
    font: 15px;
    color: #333; 
    width: 100%; 
    box-sizing: border-box; 
    letter-spacing: 1px;
    height: 150px;
    resize: none;
    padding: 3px 10px;
    outline: none;
  }
  input {
    font: 15px;
    color: #333; 
    width: 100%; 
    box-sizing: border-box; 
    padding: 7px 10px;
    letter-spacing: 1px;
    border: 1px solid #3d5680;
    outline: none;
    @include border-radius(3px);
    }
  select{
    font: 15px; 
    color: #333; 
    border: 1px solid #3d5680;
    width: 100%; 
    box-sizing: border-box; 
    letter-spacing: 1px;
    background: #fff;
    @include border-radius(3px);
    padding: 3px 10px;
    outline: none;
  }
}


.effect {
  border: 1px solid #ccc; 
  transition: 0.4s;
}

.effect ~ .focus-border:before,
.effect ~ .focus-border:after {
  content: ""; 
  position: absolute; 
  top: 0; left: 50%; 
  width: 0; 
  height: 2px; 
  background-color: #1d3351; 
  transition: 0.4s;
}
.effect ~ .focus-border:after{
  top: auto; 
  bottom: 0;
}
.effect ~ .focus-border i:before,
.effect ~ .focus-border i:after{
  content: ""; 
  position: absolute; 
  top: 50%; 
  left: 0; 
  width: 2px; 
  height: 0; 
  background-color: #1d3351; 
  transition: 0.6s;
}
textarea:focus {
  border-width: 0px;
  border-color: #fff;
  box-shadow: none !important;
}
.effect ~ .focus-border i:after{left: auto; right: 0;}
.effect:focus ~ .focus-border:before,
.effect:focus ~ .focus-border:after{left: 0; width: 100%; transition: 0.4s;}
.effect:focus ~ .focus-border i:before,
.effect:focus ~ .focus-border i:after{top: 0; height: 100%; transition: 0.6s;}

.error {
  .effect ~ .focus-border:before,
  .effect ~ .focus-border:after {
    background-color: map-get($status, 'danger'); 
  }

  .effect ~ .focus-border i:before,
  .effect ~ .focus-border i:after {
    background-color: map-get($status, 'danger');     
  }
}
