@import 'form-effect.scss';

.label {
  margin-bottom: 7px;
  display: inline-block;
  font-size: 1.1rem;
}
.form-components {
  width: 100%;
  height: 34px;
  font-size: 14px;
  font-family: inherit;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  appearance: none;
  background-color: none;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: 100;
  position: relative;
  z-index: 1;
}
textarea{
  &.form-components {
    height: 100px;
    resize: none;
  }
}


select {
  background-color: white;
  border: thin solid #1d3351;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1em;
  padding: 0.5em 3.5em 0.5em 1em !important;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  &.minimal {
    background-image:linear-gradient(45deg, transparent 50%, gray 50%),linear-gradient(135deg, gray 50%, transparent 50%),linear-gradient(to right, #ccc, #ccc);
    background-position:
    calc(100% - 20px) calc(1em + -1px), calc(100% - 15px) calc(1em + -1px), calc(100% - 2.5em) 0.3em;
    // calc(100% - 20px) calc(1em + 2px),calc(100% - 15px) calc(1em + 2px),calc(100% - 2.5em) 0.3em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    &:focus {
      background-image:
        linear-gradient(45deg, #1d3351 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, #1d3351 50%),
        linear-gradient(to right, #ccc, #ccc);
      background-position:
        calc(100% - 15px) 0.8em, calc(100% - 20px) 0.8em, calc(100% - 2.5em) 0.3em;
      background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
      background-repeat: no-repeat;
      border-color: #1d3351;
      outline: 0;
    }
  }
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}

::placeholder {
  color: #9198b2;
  opacity: 1;
  text-align: center;
}

:-ms-input-placeholder {
  color: #9198b2;
  text-align: center;
}

::-ms-input-placeholder {
  color: #9198b2;
  text-align: center;
}

.error {
  .label {
    color: map-get($status, 'danger');
  }

  input {
    border-color: map-get($status, 'danger') !important;
    color: map-get($status, 'danger') !important;
  }

  textarea {
    border-color: map-get($status, 'danger') !important;
    color: map-get($status, 'danger') !important;
  }
}
