@import "variables/color";
@media screen and (max-width: 500px) {
    .parent-table{
        overflow-x: auto;
        max-width: 320px;
    } 

}
@each $name, $color in $colors {

    .parent-table {
        margin: auto;
        .table-#{$name} {
            margin:auto;
            margin-bottom: 20px;
            border-collapse: collapse;
            width: 100%;
            
            thead {
                background-color: $color !important;
                tr {
                    th {
                        border-width: 1px;
                        border-style: solid;
                        border-right: none;
                        border-top: none;
                        border-left-color: lighten($color, 50%);
                        border-bottom-color: lighten($color, 50%);
                        color: $light;
                        border:none;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        padding: 5px 10px;
                        border-width: 1px;
                        border-style: solid;
                        border-right: none;
                        border-top: none;
                        border-left-color: lighten($color, 50%);
                        border-bottom-color: lighten($color, 50%);
                        background-color: lighten($color, 60%);
                    }
                }
        
            }
            
        }
    }
    
}