%message-shared {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    background: #1d3351;
    color: #AAA;
    width: 150px;
    height: auto;
    padding: 20px 0px;
}

.tabs {
    // box-shadow: 0px 2px 15px 2px;
    position: relative;
    max-width: 450px;
    min-height: 250px;
    margin:auto;

    label {
        @extend %message-shared;
        &:hover {
            color: white;
            cursor: pointer;
        }
    }
    #slider {
        @extend %message-shared;
        background-color: transparent;
        position: absolute;
        border-bottom: 3px solid #ff00009c;
        margin: 7px 10px;
        transition: transform 0.5s;
        width: 130px;
    }

    [type=radio] {
        display: none;
    }
    .content {
        position: absolute;
        top: 50px; right: 0; bottom: 0; left: 0;
        background: white;
        padding: 20px;
        box-shadow: inset 0px 5px 5px -5px;
        display: none;
        border: 1px solid rgb(119, 131, 184);
        border-radius: 3px;
    }


    [type=radio],#r1:checked ~ #slider {
        transform: translate(450px, 0px);
    }

    [type=radio],#r2:checked ~ #slider {
        transform: translate(300px, 0px);
    }

    [type=radio],#r3:checked ~ #slider {
        transform: translate(150px, 0px);
    }

    [type=radio]:checked + label {
        color: white;
    }

    [type=radio]:checked + label + .content {
        display: inline-block;
    }
}

@media screen and (max-width: 500px) {
    .tabs {
        background-color: #1d3351;
        width: 360px;
        text-align: center;

        label, #slider {
            max-width: 360px;
        }
        label, #slider {
            width: 115px;
        }
        [type=radio],#r1:checked ~ #slider {
            transform: translate(-355px, 0px) !important;
        }
        [type=radio],#r2:checked ~ #slider {
            transform: translate(-240px, 0px) !important;
        }
        [type=radio],#r3:checked ~ #slider {
            transform: translate(-125px, 0px) !important;
        }
        .content {
            text-align: right;
        }
    }

}







