@import '../../../../assets/scss/mixin/css3';
@import '../../../../assets/scss/variables/color';

@keyframes backfluid {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: -100px;
    }
}

.background {
    position: fixed;
    top: 0;
    bottom: 30px;
    left: 0;
    right: 0;
    background-color: #1d3351;
    background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%233d5680' fill-opacity='0.26' fill-rule='evenodd'/%3E%3C/svg%3E");
    z-index: 2000;
    // @include animation(2s 'backfluid' linear infinite);
    a {
        &.nav-item {
            margin-top: 15px;
            margin-bottom: 5px;
        }
    }
}

.content-wraper {
    margin: auto;
    width: 300px;
    padding: 30px;
    background-color: map-get($colors, 'light');
    border-radius: 3px;

    h2 {
        font-size: 2rem;
        margin-bottom: 25px;
    }
}

.nav-item {
    width: 100%;
    color: map-get($colors, 'light');
    text-decoration: none;
    display: block;

    i.icon {
        line-height: 1rem;
        display: inline-block;
        vertical-align: middle;
    }

    span {
        font-size: 1rem;
    }

    &.right {
      text-align: right;
      direction: rtl;
      padding-right: 15px;
      padding-top: 10px;
    }

    &.left {
        text-align: left;
        direction: ltr;
        padding-left: 15px;
        padding-top: 5px;

        i {
          font-size: 4rem;
        }
    }

    &:hover {
        color: map-get($colors, 'secendry');
    }
}


.animate-wraper {
    width: 100%;
    height: 200px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;

    .earth-art {
        background: #212121;
        height: 30%;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .car2 {
        position: absolute;
        left: calc(50% - 190px);
        bottom: 30%;

        .car-body {
            width: 190px;
            height: auto;
            position: absolute;
            left: 0;
            bottom: 10px;
        }

        .wheel {
            width: 33px;
            position: absolute;
            bottom: 0;
        }

        .wheel-back {
            left: 18px;
        }

        .wheel-front {
            left: 138px;
        }
    }

    .car1 {
        position: absolute;
        left: calc(50% + 10px);
        bottom: 30%;

        .car-body {
            width: 209px;
            height: auto;
            position: absolute;
            left: 0;
            bottom: 15px;
        }

        .wheel {
            width: 33px;
            position: absolute;
            bottom: 0;
        }

        .wheel-back {
            left: 34px;
        }

        .wheel-front {
            left: 162px;
        }


        .anchor {
            height: 70px;
            position: absolute;
            left: 0px;
            bottom: 15px;
        }
    }
}
@media only screen and (max-width: 400px) {
    .content-wraper {
        width: auto;
    }
    .animate-wraper {
        display: none;
    }
}
@media only screen and (max-height :630px) {
    .animate-wraper {
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .map-align {
        text-align: left;
    }
    .background {
        a {
            &.nav-item {
                margin-bottom: 15px;
            }
        }
    }
}