@import '../../../../../assets/scss/mixin/css3';
@import '../../../../../assets/scss/variables/color';

.footer-link {
    font-size: 16px;
    text-decoration: none;

    &:hover {
        color: map-get($colors, 'primary') !important;
    }
}

.mb-f-b {
    margin-bottom: 15px;
}

.mt-a-b {
    margin-top: 10px;
}

.btn-block {
    width: 100%;
}
