<p class="alert alert-danger" *ngIf="!validation.ok">
    {{ validation.message }}
</p>
<div [ngStyle]="{'margin-top': marginTop}">
    <div class="form-effect mb-f-b">
        <!-- <input class="effect text-center" type="text" id="phone-number" (keyup.enter)="onSubmit()" [(ngModel)]="username" placeholder="شماره موبایل"
            (focus)="collapsForInput()" (focusout)="unCollapsForInput()"> -->
            <input class="effect text-center" type="text" id="phone-number" (keyup.enter)="onSubmit()" [(ngModel)]="username" placeholder="شماره موبایل"
            >
        <span class="focus-border">
            <i></i>
        </span>
    </div>
    <button class="btn btn-secendry btn-sm btn-block" (click)="onSubmit()">تایید</button>
</div>
<div class="row mt-a-b">
    <div class="col-xs-12 text-center">
        <a class="text-secendry footer-link" routerLink="/user/register">ثبت نام</a>
    </div>
</div>