table {
    width: 100%;
    th {
        background-color: #e8e8e8;
        color: #3d5680;
        border-left: 1px solid #3d5680;
        padding: 10px;
        &:last-child {
            border-left: 1px solid #e8e8e8;
        }
    }
    td,
    th {
        width: 33%;
        border-bottom: 1px solid #c4ccd9;
    }
    margin-bottom: 30px;
}
.checkboxes-and-radios {
    margin: 0px auto 0;
    padding: 10px;
}
.checkboxes-and-radios input {
    display: none;
}
.checkboxes-and-radios label {
    cursor: pointer;
    padding-right: 35px;
    position: relative;
    display: block;
    font-size: 18px;
    padding: 15px 0;
    color: #59729c;
}
.checkboxes-and-radios input[type='checkbox'],
.checkboxes-and-radios input[type='radio'] {
    position: absolute;
    visibility: hidden !important;
}
.checkboxes-and-radios input[type='checkbox'] + label:before,
.checkboxes-and-radios input[type='radio'] + label:before,
.checkboxes-and-radios input[type='checkbox'] + label:after,
.checkboxes-and-radios input[type='radio'] + label:after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -7.5px;
    box-sizing: border-box;
}
.checkboxes-and-radios input[type='checkbox'] + label:before,
.checkboxes-and-radios input[type='radio'] + label:before {
    width: 30px;
    height: 15px;
    right: 0px;
    background: #bfbfbf;
    border: 1px solid #939393;
    border-radius: 15px;
}
.checkboxes-and-radios input[type='checkbox']:checked + label:before,
.checkboxes-and-radios input[type='radio']:checked + label:before {
    background: #08ff00;
    border: 1px solid #009900;
}
.checkboxes-and-radios input[type='checkbox'] + label:after,
.checkboxes-and-radios input[type='radio'] + label:after {
    width: 15px;
    height: 15px;
    right: 15px;
    background: #e3e3e3;
    border: 1px solid #939393;
    border-radius: 50%;
    transition: all 200ms ease-out;
}
.checkboxes-and-radios input[type='checkbox']:checked + label:after,
.checkboxes-and-radios input[type='radio']:checked + label:after {
    right: 0px;
    background: #e3e3e3;
    border: 1px solid #939393;
}
.ltr {
    direction: ltr;
}
