<table>
    <thead>
        <tr>
            <th>روز </th>
            <th>ساعت شروع کار</th>
            <th>ساعت پایان کار</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let day of schedule; let i=index">
            <td>
                <div class="checkboxes-and-radios">
                    <input type="checkbox" name="checkbox-{{i}}" id="checkbox-{{i}}" [(ngModel)]="day.isActive" (ngModelChange)="updateSchedule()">
                    <label for="checkbox-{{i}}">{{ day.title }}</label>
                </div>
            </td>
            <td class="ltr">
                <dp-time-select [(ngModel)]="day.startTime" [config]="config" (ngModelChange)="updateSchedule()"></dp-time-select>
            </td>
            <td class="ltr">
                <dp-time-select [(ngModel)]="day.endTime" [config]="config" (ngModelChange)="updateSchedule()"></dp-time-select>
            </td>
        </tr>
    </tbody>
</table>