@import '../../../../../assets/scss/variables/color';
@import '../../../../../assets/scss/variables/grid';
@import '../../../../../assets/scss/mixin/css3';
app-filter-box {
    border: 1px solid #3d5680;
    display: block;
    padding: 10px;
    border-radius: 5px;
    margin-top: 31px;
    text-align: center;
}
.card-view {
    h2 {
        font-size: 0.7rem;
        line-height: 1rem;
    }
    .details {
        height: auto;
        p {
            font-size: 0.8rem;
            line-height: 2;
        }
        .img-height {
            // height: 163px;
            img {
                height: 100%;
                width: 100%;
                display: block;
            }
        }
    }
}
@media only screen and (max-width: 767px) {
    .card-view {
        .details {
            height: auto;
            padding-bottom: 0;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}


.overlay {
    background: map-get($colors, 'dark');
    opacity: 0.8;
    position: fixed;
    z-index: 3000;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.container-box {
    background-color:map-get($colors, 'light');
    position: fixed;
    z-index: 3001;
    width: 750px;
    height: 45vh;
    margin: 100px 32vw;
    border-radius: 4px;
    padding: 15px;
    padding-bottom: 5px;
    top: 6vh;
    left: 0;
    right: 0;
    margin: auto;
    overflow: auto;

    .modal-body {
        margin: 20px;
        line-height: 1.5em;
        font-size: 1.3em;
        padding: 5px;
        text-align: right;
        .modal-header {
            font-size: 1.7em;
            line-height: 1.5;
        }
        a {
            cursor: pointer;
            color: #1d3351;
            // float: left;
            text-decoration: none;
            width: 198px;
            text-align: center;
            margin: auto;
            display: block;
            img {
                height: 120px;
            }
            
        }
    }

    .modal-footer {
        button {
            width: 100%;
        }
    }
}

@media screen and (max-width: map-get($regbreakpoints, sm)) {
    .container-box {
        width: 90%;
        top: 5%;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.close {
    position: absolute;
    right: 8px;
    top: 10px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}
.close:hover {
    opacity: 1;
}
.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}
a.btn.reserve-btn {
    text-align: center;
    text-decoration: none;
}