<div class="wrapper container-fluid">
    <div class="row center-md center-sm start-xs">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <app-filter-box></app-filter-box>
        </div>
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <div class="row" data-uk-grid>
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12" *ngFor="let sc of serviceCenters">
                    <div class="card-view">
                        <section>
                            <h1>{{ sc.title }}</h1>
                            <h2>{{ sc.category }}</h2>
                            <div class="clear"></div>
                        </section>

                        <section class="details">
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-xs-6 img-height">
                                    <img [src]="sc.image" alt="{{ sc.title }} feature image">
                                </div>
                                <div class="col-lg-12 col-sm-12 col-xs-6">
                                    <p>{{ sc.description }}</p>
                                    <div class="row">
                                        <span class="col-xs-1">
                                            <i class="icon icon-marker icon-2x"></i>
                                        </span>
                                        <p class="col-xs-10">{{ sc.address }}</p>
                                    </div>
                                    <div class="row">
                                        <span class="col-xs-1">
                                            <i class="icon icon-phone icon-2x"></i>
                                        </span>
                                        <p class="col-xs-10">{{ sc.phoneNumber }}</p>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <button class="btn btn-primary full-width btn-sm" [routerLink]="['/service-center', sc.id]">مشاهده</button>
                        <!-- <button class="btn btn-primary full-width btn-sm" (click)="onReserveClick(sc)">رزرو</button> -->
                        <!-- <button class="btn btn-primary full-width btn-sm" (click)="showModal = !showModal">رزرو</button> -->
                        <a href="#/request/fix/send/${sc.id}" class="btn btn-primary full-width btn-sm reserve-btn">رزرو</a>


                    </div>
                </div>
            </div>


            <div class="overlay popup" *ngIf="showModal"></div>
            <div class="container-box popup" *ngIf="showModal">
                <a (click)="showModal = !showModal" class="close"></a>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="modal-body">
                            <div modal="header" class="modal-header text-center">
                                درخواست رزرو تعمیرگاه
                            </div>
                            <hr>
                            <p>
                                مشتری گرامی لطفا جهت تکمیل فرایند رزرو اپلیکیشن رگلاژ را بر روی دستگاه خود نصب نمایید.
                                <br> دانلود مستقیم اپلیکیشن:
                                <br>
                                <a href="https://reglazh.com/app/Reglazh.apk">
                                    <img src="https://images.vexels.com/media/users/3/139556/isolated/preview/1718a076e29822051df8bcf8b5ce1124-android-logo-by-vexels.png"> Reglazh.apk
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row modal-footer">
                    <div class="col-xs-12">
                        <ng-content select="[modal=footer]"></ng-content>
                    </div>
                </div>
            </div>

            <div infinite-scroll [infiniteScrollThrottle]="1000" [infiniteScrollDisabled]="!canGoDown" [infiniteScrollDistance]="1" (scrolled)="onScroll()"></div>
        </div>
    </div>

</div>