.right-side-nav {
    li {
        margin-bottom: 5px;
        height: 70px;
        &:hover {
            background: #ff0000;
        }
        &:first-child {
            padding-top: 8px;
        }
        &:last-child {
            position: absolute;
            bottom: 0px;
            width: 100%;
            margin-bottom: 0;
        }
        .nav-item {
            width: 100%;
            color: whitesmoke;
            font-style: normal;
            font-size: 0.8rem;
            text-decoration: none;
            outline: none;
            i {
                height: 38px;
                display: block;
            }
            i.icon-my-car-repair-shop {
                font-size: 38px;
            }
            span {
                display: block;
                padding: 0px 8px 12px;
                line-height: 0.9;
                font-size: 0.7rem;
            }
        }
    }
}
@media only screen and (max-height: 600px) {
    .right-side-nav {
        li {
            &:last-child {
                position: static;
            }
        }
    }
}
