<ul class="right-side-nav">
    <li *ngFor="let item of nav">
        <a class="nav-item" [routerLink]="item.link">
            <i class="icon icon-3x" [ngClass]="item.icon"></i>
            <span>
                {{ item.title }}
            </span>

        </a>
    </li>
</ul>