<p class="alert alert-danger" *ngIf="errors.length > 0">
    {{ errors[0] }}
</p>

<p class="alert alert-success" *ngIf="message">
    {{ message }}
</p>

<div class="buttons">

    <div class="row center-xs">
        <div class="col-lg-3 col-md-3 col-xs-4">
            <button class="btn btn-primary btn-sm full-width" (click)="submit()">تایید</button>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-4">
            <button class="btn btn-primary btn-sm full-width">انصراف</button>
        </div>
    </div>

</div>

<app-confirm-price [show]="showModal" [price]="price" (submit)="priceConfirm()"></app-confirm-price>