$imageIconSize: 80px;
.margin-top {
    margin-top: 20px;
}
.workshop-details {
    .form-effect {
        textarea {
            &.effect {
                height: 80px;
            }
            &.address {
                height: 98px;
            }
        }
        .effect {
            background-color: #fff;
            border-radius: 3px;
            border: 1px solid #3d5680;
            font-size: 0.8rem;
        }
    }
    .label {
        display: block;
        margin-bottom: 5px;
        font-size: 1rem;
        color: #9198b2;
        text-align: right;
        font-size: 0.9rem;
    }
    .workshop-image {
        background-color: #3d5680;
        border-radius: 3px;
        height: 96%;
        color: #fff;
        position: relative;
        input {
            right: 0;
            left: 0;
        }
        img {
            width: 100%;
            max-height: 100%;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1000;
        }
        &:hover div {
            visibility: visible;
            opacity: 1;
        }
        div.overlar {
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            position: absolute;
            opacity: 0.5;
            background-color: black;
            z-index: 1001;
        }
        div.over-center {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            margin: auto;
            width: $imageIconSize;
            height: $imageIconSize;
            z-index: 1002;
            span {
                display: inline-block;
                cursor: pointer;
                i {
                    display: inline-block;
                    width: $imageIconSize;
                    height: $imageIconSize;
                    font-size: $imageIconSize;
                    line-height: $imageIconSize;
                }
            }
        }
        div {
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s, opacity 0.5s linear;
        }
    }
}
::placeholder {
    color: #9198b2;
    opacity: 1;
    text-align: right;
}
:-ms-input-placeholder {
    color: #9198b2;
    text-align: right;
}
::-ms-input-placeholder {
    color: #9198b2;
    text-align: right;
}
.map {
    position: relative;
    #map {
        width: 100%;
        height: 200px;
        margin-bottom: 10px;
    }
    .center-loc {
        width: 50px;
        height: auto;
        position: absolute;
        z-index: 1001;
        top: 60px;
        left: calc(50% - 25px);
    }
}
// .category {
//   display: block;
//   margin-bottom: 5px;
//   font-size: 1rem;
//   color: #9198b2;
//   text-align: right;
//   font-size: 0.9rem;
// }
@media only screen and (max-width: 768px) {
    .workshop-details {
        .workshop-image {
            // background-color: #3d5680;
            // border-radius: 3px;
            height: 216px;
            // color: #fff;
            position: relative;
            margin-bottom: 20px;
            input {
                left: 0;
                right: 0;
                margin: auto;
                width: 100%;
            }
        }
    }
}
