<div class="workshop-details margin-top">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div class="row">
                <div class="col-xs-12" [appHasError]="title">
                    <div class="form-effect" [appTooltipError]="title">
                        <input class="effect" type="text" placeholder="نام مرکز خدماتی |" [(ngModel)]="sc.title" #title="ngModel" required title="نام مرکز خدماتی">
                        <span class="focus-border">
                            <i></i>
                        </span>
                    </div>
                </div>
                <div class="col-xs-6" [appHasError]="slogan">
                    <div class="form-effect" [appTooltipError]="title">
                        <input class="effect" type="text" placeholder="شعار تبلیغاتی |" [(ngModel)]="sc.slogan" #slogan="ngModel" title="شعار تبلیغاتی">
                        <span class="focus-border">
                            <i></i>
                        </span>
                    </div>
                </div>

                <div class="col-xs-6" [appHasError]="background">
                    <div class="form-effect" [appTooltipError]="background">
                        <input class="effect" type="string" placeholder="سابقه کار  |" [(ngModel)]="sc.background" #background="ngModel" title=" سابقه کار">
                        <span class="focus-border">
                            <i></i>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12" [appHasError]="phoneNumber">
                    <div class="form-effect" [appTooltipError]="phoneNumber">
                        <input class="effect" type="number" placeholder="شماره همراه  |" [(ngModel)]="sc.mobile" #phoneNumber="ngModel" title="شماره همراه">
                        <span class="focus-border">
                            <i></i>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12" [appHasError]="phoneNumber2">
                    <div class="form-effect" [appTooltipError]="phoneNumber2">
                        <input class="effect" type="number" placeholder="شماره تلفن ثابت  |" [(ngModel)]="sc.phoneNumbers[0]" #phoneNumber2="ngModel"
                            required title="شماره تلفن">
                        <span class="focus-border">
                            <i></i>
                        </span>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label for="category" class="label">زمینه‌ ی فعالیت</label>
                    <div class="form-effect">
                        <select class="effect" id="category" [(ngModel)]="sc.categories" multiple>
                            <option *ngFor="let c of categories" [value]="c.id">{{ c.title }}</option>
                        </select>
                        <span class="focus-border">
                            <i></i>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" [appHasError]="address">
                    <label class="label">آدرس</label>
                    <div class="form-effect" [appTooltipError]="address">
                        <textarea class="effect address" placeholder="آدرس |" [(ngModel)]="sc.address.address" #address="ngModel" title="آدرس"></textarea>
                        <span class="focus-border">
                            <i></i>
                        </span>
                    </div>
                </div>

                <div class="col-xs-12">

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="workshop-image">
                <input #fileInput type="file" (change)="handleFileInput($event.target.files)" name="userImage" style="position: absolute; visibility: hidden">
                <img [src]="scPic" alt="service center picture" class="service-center-picture">
                <div class="overlar"></div>
                <div class="over-center">
                    <span (click)="selectFile()">
                        <i class="icon icon-plus icon-3x"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-xs-12" [appHasError]="description">
            <div class="form-effect" [appTooltipError]="description">
                <textarea class="effect" type="text" placeholder="توضیحات |" [(ngModel)]="sc.description" #description="ngModel" title="توضیحات"></textarea>
                <span class="focus-border">
                    <i></i>
                </span>
            </div>
        </div>
        <div class="map col-xs-12">
            <img class="center-loc" src="assets/images/markers/marker-user.svg" alt="service center location">
            <div id="map" leaflet [leafletOptions]="options" [leafletZoom]="zoom" [leafletCenter]="center" (leafletMapReady)="onMapReady($event)">
            </div>
        </div>

    </div>
</div>