app-filter-box {
    text-align: center;
    width: 288px;
    position: absolute;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.8);
    top: 30px;
    right: 35px;
    overflow: hidden;
    border: 1px solid #3d5680;
    padding: 15px;
    border-radius: 3px;
}
#map {
    width: 100%;
    height: calc(100vh - 150px);
}
@media only screen and (max-width: 500px) {
    app-filter-box {
        right: 0;
        left: 0;
        margin: auto;
    }
}


