
<app-filter-box></app-filter-box>


<div id="map"
    leaflet
    [leafletOptions]="options"
    [leafletZoom]="zoom"
    [leafletCenter]="center"
    (leafletMapReady)="onMapReady($event)">
</div>





