<!-- <h3>
  باز خوانی رمز عبور
</h3>
<p *ngIf="!validation.ok">
  {{ validation.message }}
</p>
<form [formGroup]="form" (ngSubmit)="changePassword($event)">
  <app-input [formGroup]="form" name="code" label="کد ارسالی"></app-input>
  <app-input type="password" [formGroup]="form" name="password" label="رمز عبور جدید"></app-input>
  <button type="submit">تغییر رمز</button>
  <button type="button" (click)="sendAgain()">ارسال کد تغییر</button>
</form> -->

<div class="background">
    <div class="row between-xs">
        <div class="col-md-2 col-xs-6">
            <a href="https://reglazh.com" class="nav-item right">
                <i class="icon icon-home"></i>
                <span>وبسایت</span>
            </a>
        </div>
        <div class="col-md-2 col-xs-6">
            <a routerLink="/service-center/map-view" class="nav-item left">
                <i class="icon icon-map"></i>
                <span>نقشه</span>
            </a>
        </div>
    </div>
    <div class="row center-xs">
        <div class="col-md-4 col-sm-6 col-xs-9">
            <div class="content-wraper">
                <img src="assets/images/logo-width.jpg" alt="reglazh logo" width="80">
                <h2 class="text-primary">
                    باز خوانی رمز عبور
                </h2>
                <div class="text-right">
                    <p *ngIf="!validation.ok">
                        {{ validation.message }}
                    </p>
                    <div>
                        <form [formGroup]="form" (ngSubmit)="changePassword($event)">
                            <app-input [formGroup]="form" name="code" label="کد ارسالی"></app-input>
                            <app-input type="password" [formGroup]="form" name="password" label="رمز عبور جدید"></app-input>
                            <button class="btn btn-secendry btn-sm btn-block" type="submit">تغییر رمز</button>
                            <button class="btn btn-warning btn-sm btn-block" type="button" [disabled]="wait" (click)="sendAgain()">ارسال مجدد کد تغییر</button>
                        </form>
                    </div>
                    <div class="row mt-a-b">
                        <div class="col-xs-12 text-center">
                            <a class="text-secendry footer-link" routerLink="/user/login">ورود</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>