@import '../../../../assets/scss/mixin/css3';
@import '../../../../assets/scss/variables/color';

@keyframes backfluid {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: -100px;
    }
}
.background {
    position: fixed;
    top: 0;
    bottom: 30px;
    left: 0;
    right: 0;
    background-color: #1d3351;
    background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='https://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%233d5680' fill-opacity='0.26' fill-rule='evenodd'/%3E%3C/svg%3E");
    z-index: 2000;
    // @include animation(2s 'backfluid' linear infinite);
}
.content-wraper {
    margin: auto;
    width: 300px;
    padding: 30px;
    background-color: map-get($colors, 'light');
    border-radius: 3px;
    h2 {
        font-size: 2rem;
        margin-bottom: 25px;
    }
}
.nav-item {
    height: 100px;
    width: 100%;
    color: map-get($colors, 'light');
    text-decoration: none;
    display: block;
    i.icon {
        font-size: 80px;
        line-height: 1rem;
        display: inline-block;
        vertical-align: middle;
    }
    span {
        font-size: 1.5rem;
    }
    &.right {
        text-align: right;
        direction: rtl;
        padding-right: 15px;
        padding-top: 5px;
    }
    &.left {
        text-align: left;
        direction: ltr;
        padding-left: 15px;
        padding-top: 5px;
        i {
            font-size: 4rem;
        }
    }
    &:hover {
        color: map-get($colors, 'secendry');
    }
}
.footer-link {
    font-size: 16px;
    text-decoration: none;
    &:hover {
        color: map-get($colors, 'primary') !important;
    }
}
.mb-f-b {
    margin-bottom: 15px;
}
.mt-a-b {
    margin-top: 10px;
}
.btn-block {
    width: 100%;
}
