<div class="car-card">
	<section class="car-brand">
		<section class="edit">
			<div class="edit-part">
				<div class="row between-xs">
					<span class="col-xs-5">
						<a (click)="edite()"> ویرایش</a>
					</span>
					<span class="col-xs-2">
						|
					</span>
					<span class="col-xs-5">
						<a (click)="remove()">حذف</a>
					</span>
				</div>
			</div>
		</section>
		<img src="{{ car.company.image }}" alt="{{car.company.title}}">
		<h1>{{ car.company.title }}</h1>
    <h2>{{ car.model.title }}</h2>
	</section>
	<section class="details">
		<div class="row center-xs">
			<div class="col-lg-12">
				<table>
					<tr>
						<th>رنگ</th>
						<td>{{ car.color.title }}</td>
					</tr>
					<tr>
						<th>سال ساخت</th>
						<td>{{ car.year }}</td>
					</tr>
					<tr>
						<th>شماره شاسی</th>
						<td>{{ car.vin }}</td>
					</tr>
				</table>
			</div>
		</div>
	</section>
	<div class="lpn-section">
		<div class="lpn">
			<div>
				<img src="assets/images/iran.png">
				<input type="text" [value]="car.lpn.iranCode">
			</div>
			<div>

				<input type="text" [value]="car.lpn.code3">
				<input type="text" [value]="car.lpn.code2">
				<input type="text" [value]="car.lpn.code1">

			</div>
			<div>
				<!-- <img src="assets/images/plate-side.svg"> -->
			</div>
		</div>
		<!-- <div class="lpn">
			<div>
				<img src="assets/images/iran.png">
				<input type="text" [(ngModel)]="selectedLpn.iranCode" placeholder="11" maxlength="2">
			</div>
			<div>

				<input type="text" [(ngModel)]="selectedLpn.code3" placeholder="۱۲۳" maxlength="3">
				<input type="text" [(ngModel)]="selectedLpn.code2" placeholder="الف" maxlength="3">
				<input type="text" [(ngModel)]="selectedLpn.code1" placeholder="۱۲" maxlength="2">

			</div>
			<div class="clear"></div>
		</div> -->
	</div>
</div>
