.car-card {
    border: 1px solid #3d5680;
    border-radius: 4px;
    height: 403px;
    margin-bottom: 10px;
    position: relative;
    &:hover {
        .edit {
            .edit-part {
                visibility: visible;
            }
            .icon-more {
                color: #fff;
            }
        }
    }
    .edit {
        position: relative;
        .icon-more {
            position: absolute;
        }
        .edit-part {
            visibility: hidden;
            background-color: #3d5680;
            padding: 10px;
            text-align: center;
        }


        a, span {
            color: #fff;
            text-decoration: none;
            cursor: pointer;
        }

    }
    .car-brand {
        margin-bottom: 20px;
        background-image: linear-gradient(to left top, #282830, #303242, #363c54, #3a4768, #3c537c);

        img {
            margin: auto;
            width: 126px;
            height: auto;
            display: block;
            margin-bottom: 10px;
        }
        h1 {
            text-align: center;
            color: #fff;
            padding-bottom: 7px;
        }
        h2 {
            text-align: center;
            color: #fff;
            padding-bottom: 7px;
        }
    }
    .body-value {
        text-align: left;
        box-sizing: border-box;
        overflow-wrap: break-word;
    }
    .head-title {
        text-align: right;
    }
    .lpn-section {
        padding: 10px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        .lpn {
            border: 2px solid #000;
            border-radius: 4px;
            position: relative;
            line-height: 0;
            clear: both;
            height: 44px;
            div {
                &:first-child {

                    float: right;
                    padding: 4px;
                    text-align: center;
                    width: 20%;
                    img {
                        width: 100%;
                        margin-bottom: 5px;
                        max-height: 10px;
                    }
                    input {
                        width: 100%;
                        background-color: transparent;
                        border: none;
                        line-height: 0;
                        text-align: center;
                        outline: none;
                        height: 22px;
                        font-size: 1.5rem;
                    }
                }
                &:nth-child(2) {
                    width: 73%;
                    height: 100%;
                    float: right;
                    border-left: 2px solid #000;
                    border-right: 2px solid #000;
                    input {
                        width: 32%;
                        border: none;
                        font-size: 1.9rem;
                        background-color: transparent;
                        border: none;
                        text-align: center;
                        padding-top: 2px;
                        height: 100%;
                        &:nth-child(2) {
                            width: 25%;
                        }
                    }
                }
                &:last-child {
                    position: absolute;
                    float: right;
                    left: 0;
                    width: 7%;
                    font-size: 1.5rem;
                    bottom: 0;
                    top: 0;
                    margin: auto;
                    background-image: url(../../../../../assets/images/plate-side.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }
            }
        }
    }
    .details {
        padding: 10px;
        table {
            width: 100%;

            td {
                text-align: left;
                padding: 5px 10px;
                font-size: 0.8rem;
            }
            th {
                text-align: right;
                padding: 5px 10px;
                font-size: 0.8rem;
            }
        }
    }


}

@media only screen and (max-width: 1250px) {
    .car-card {
        height: 416px;
    }
}
@media only screen and (max-width: 1220px) {
    .car-card {
        height: 430px;
    }
}
@media only screen and (max-width: 767px) {
    .car-card .lpn-section {
        width: 285px;
        margin: auto;
    }
}

@media only screen and (max-width: 960px) and (min-width: 740px)  {
    .car-card .lpn-section .lpn {
        height: 38px;
    }
    .car-card .lpn-section .lpn div:nth-child(2) input{
        font-size: 1.3rem;
        line-height: 1.6;
    }
    .car-card .lpn-section .lpn div:nth-child(1) input {
        font-size: 1rem;
    }
}
@media only screen and (max-width: 400px) {
    .car-card .lpn-section {
        width: 250px;
        margin: auto;
    }
}
