.reserve {
    margin-top: 20px;
    .clear {
        clear: both;
    }
    .head {
        padding: 10px;
        text-align: center;
        background: #3d5680;
        border-radius: 5px 5px 0 0;
        color: #fff;
        margin-top: 20px;
        border: 1px solid #3d5680;
    }
    .content {
        border: 1px solid #3d5680;
        min-height: auto;
        height: auto;
        text-align: center;
        padding: 10px;
        .dropdown {
            padding: 10px;
            .items {
                .item {
                    .car-card {
                        .lpn-wraper {
                            .car-details {
                                float: right;
                                width: 40%;
                                span {
                                    line-height: 3;
                                }
                            }
                            .lpn-section {
                                padding: 10px;
                                margin: auto;
                                width: 55%;

                                .lpn {
                                    border: 2px solid #000;
                                    border-radius: 4px;
                                    position: relative;
                                    line-height: 0;
                                    clear: both;
                                    height: 35px;
                                    div {
                                        &:first-child {
                                            float: right;
                                            padding: 4px;
                                            text-align: center;
                                            width: 20%;
                                            img {
                                                width: 100%;
                                                margin-bottom: 5px;
                                                max-height: 10px;
                                            }
                                            input {
                                                width: 100%;
                                                background-color: transparent;
                                                border: none;
                                                line-height: 0;
                                                text-align: center;
                                                outline: none;
                                                height: 18px;
                                                font-size: 1rem;
                                            }
                                        }
                                        &:nth-child(2) {
                                            width: 73%;
                                            height: 100%;
                                            float: right;
                                            border-left: 2px solid #000;
                                            border-right: 2px solid #000;
                                            input {
                                                width: 33%;
                                                border: none;
                                                font-size: 1.2rem;
                                                background-color: transparent;
                                                border: none;
                                                // line-height: 1.2;
                                                height: 100%;
                                                text-align: center;
                                                &:nth-child(2) {
                                                    width: 25%;
                                                }
                                            }
                                        }
                                        &:last-child {
                                            position: absolute;
                                            float: right;
                                            left: 0;
                                            width: 7%;
                                            font-size: 2.5rem;
                                            bottom: 0;
                                            top: 0;
                                            margin: auto;
                                            background-image: url(../../../../../assets/images/plate-side.svg);
                                            background-repeat: no-repeat;
                                            background-size: cover;
                                            background-position: center;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .date-time {
            padding: 10px;
            label {
                margin-left: 10px;
            }
        }
        .description {
            padding: 10px;
            textarea {
                border: 1px solid #3d5680;
                border-radius: 2px;
                background: #fff;
                width: 100%;
                height: 150px;
            }
        }
    }
    .buttons {
        // border: 1px solid #3d5680;
        // border-radius: 3px;
        padding-top: 10px;
    }
    .total-price-wraper {
        background-color: #ff0000;
        border: 1px solid #ff0000;
        text-align: center;
        margin-top: 3px;
        border-radius: 3px;
        color: #fff;
        line-height: 1.6;
        padding: 10px;
    }
}


.content-page {
    padding: 50px;
    .title {
        margin-bottom: 20px;
        text-align: center;
        font-size: 1.5em;
    }
    hr {
        color: #666;
    }
    p {
        font-size: 1.12em;
        line-height: 1.8;
        a {
            cursor: pointer;
            color: #1d3351;
            // float: left;
            text-decoration: none;
            width: 198px;
            text-align: center;
            margin: auto;
            display: block;
            img {
                height: 120px;
            }
            
        }
    }
}
.work-time {
    width: 100%;
    margin-top: 25px;
    border: 1px solid #3d5680;

    th {
        background-color: #3d5680;
        color: #fff;
        padding: 20px 10px;
       
        &:last-child {
            border-left: 1px solid #e8e8e8;
        }
    }
    td,
    th {
        text-align: center;

    }
    td {
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }
    margin-bottom: 30px;
    .label {
        font-family: Georgia;
    }
    .heading {
        display: block;
        margin: 20px 0;
    }


}