<div class="wrapper container-fluid">

    <div class="row">
        <div class="col-md-5 col-xs-12">
            <form class="reserve">


                <div class="details">
                    <section class="head">جزئیات درخواست </section>
                    <section class="content">

                        <div class="dropdown">
                            <ul class="items">
                                <li class="item">
                                    <div class="car-card">
                                        <div class="lpn-wraper">
                                            <div class="lpn-section">
                                                <div class="lpn">
                                                    <div>
                                                        <img src="assets/images/iran.png">
                                                        <input type="text" value="11" placeholder="11" [(ngModel)]="reserveModel.iranCode" name="iranCode" maxlength="2">
                                                    </div>
                                                    <div>

                                                        <input type="text" placeholder="365" [(ngModel)]="reserveModel.code3" name="code3" maxlength="3">
                                                        <input type="text" placeholder="ب" [(ngModel)]="reserveModel.code2" name="code2" maxlength="3">
                                                        <input type="text" placeholder="12" [(ngModel)]="reserveModel.code1" name="code1" maxlength="2">

                                                    </div>
                                                    <div class="lpn-iran-map"></div>
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-effect">
                                    <input type="text" placeholder="نام" [(ngModel)]="reserveModel.firstname" name="firstname" class="effect" required>
                                    <span class="focus-border">
                                        <i></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-effect">
                                    <input type="text" placeholder="نام خانوادگی" [(ngModel)]="reserveModel.lastname" name="lastname" class="effect" required>
                                    <span class="focus-border">
                                        <i></i>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-effect">
                                    <input type="text" placeholder="کد تخفیف" [(ngModel)]="reserveModel.voucher" name="code" class="effect" required>

                                    <span class="focus-border">
                                        <i></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-effect">
                                    <input type="text" placeholder="مدل برند و سال خودرو" [(ngModel)]="reserveModel.model" name="model" class="effect" required>

                                    <span class="focus-border">
                                        <i></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-effect">
                                    <input type="text" placeholder="شماره تلفن همراه" [(ngModel)]="reserveModel.mobile" name="mobile" class="effect" required>
                                    <span class="focus-border">
                                        <i></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-effect">
                                    <input type="text" placeholder="درخواست تاریخ" [(ngModel)]="reserveModel.date" name="date" class="effect" required>

                                    <span class="focus-border">
                                        <i></i>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-effect">
                                    <input type="text" placeholder="ساعت درخواست" [(ngModel)]="reserveModel.time" name="time" class="effect" required>
                                    <span class="focus-border">
                                        <i></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-effect">
                                    <input cols="30" rows="10" placeholder="خدمات" [(ngModel)]="reserveModel.service" name="service">
                                    <span class="focus-border">
                                        <i></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="description">
                            <div class="row">
                                <div class="col-xs-12">
                                    <textarea cols="30" rows="10" placeholder="شرح درخواست" [(ngModel)]="reserveModel.description" name="description"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="buttons">
                                        <div class="row center-xs">
                                            <div class="col-lg-3">
                                                <button class="btn btn-primary btn-sm full-width" (click)="onSubmit();">تایید</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </section>
                </div>



            </form>
        </div>
        <div class="col-md-7 col-xs-12">
            
            
            <div class="ng-star-inserted">
                <br><br>
                {{ sc.title }}:  {{ sc.address.address }} 
                
                <table class="work-time">
                    <thead>
                        <tr>
                            <th>نوع سرویس</th>
                            <th>نام سرویس</th>
                            <th>قیمت</th>
                            <th>برندهای تحت پوشش</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let s of sc.services">
                            <td>{{ s.category.title }}</td>
                            <td>{{ s.title }}</td>
                            <td>{{ s.price }}</td>
                            <td>
                                {{ s.company.title }}
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>




</div>