<div class="wrapper container-fluid">
  <br>
  <div class="row">
    <div class="col-lg-3 col-sm-4 col-xs-12" *ngFor="let car of cars">
        <app-car [car]="car"></app-car>
    </div>
    <div class="col-lg-3 col-sm-4 col-xs-12">
      <div class="add-car" routerLink="../add-vehicle" (click)="resetCarRepo()" type="button">
        <span>+</span>
      </div>
    </div>
  </div>
</div>
