
.car-card {
    border: 1px solid #3d5680;
    border-radius: 4px;
    .edit {
        background-color: #3d5680;
        padding: 10px;
        text-align: center;
        a {
            color: #fff;
            text-decoration: none;
        }
    }
    .car-brand {
        margin-bottom: 20px;
        
        img {
            margin: auto;
            width: 126px;
            height: auto;
            display: block;
            margin-top: 10px;
        }
        h1 {
            text-align: center;
        }
        h2 {
            text-align: center;
        }
    }
    .body-value {
        text-align: left;
        box-sizing: border-box;
        overflow-wrap: break-word;
    }
    .head-title {
        text-align: right;
    }
    .lpn-section {
        padding: 10px;

        .lpn {
            border: 2px solid #000;
            border-radius: 4px;
            position: relative;
            line-height: 0;
            div {
                &:first-child {
                    border-left: 2px solid #000;
                    display: inline-block;
                    padding: 4px;
                    text-align: center;
                    width: 20%;
                    img {
                        width: 41px;
                    }
                    input {
                        width: 100%;
                        background-color: transparent;
                        border: none;
                        font-size: 2.2rem;
                        line-height: 0;
                        text-align: center;
                    }
                }
                &:nth-child(2) {
                    width: 70%;
                    display: inline-block;
                    input {
                        width: 30%;
                        border: none;
                        font-size: 2.2rem;
                        height: 40px;
                        background-color: transparent;
                        border: none;
                        line-height: 0;
                        text-align: center;
                    }
                }
                &:last-child {
                    position: absolute;
                    border-right: 2px solid #000;
                    display: inline-block;
                    left: 0;
                    width: 1.4rem;
                    font-size: 2.5rem;
                    bottom: 0;
                    top: 0;
                    margin: auto;
                    right: 85%;
                    img {
                        height: 100%;
                    }
                }
            }
        }
    }
    .details {
        padding: 10px;
    }


}


.add-car {
    border: 1px solid #3d5680;
    border-radius: 4px;
    text-align: center;
    height: 100%;
    position: relative;
    height: 403px;
    cursor: pointer;
    span {
        width: 70px;
        height: 83px;
        font-size: 6rem;
        color: #ccc;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
    }
}
@media only screen and (max-width: 960px) { 
    .add-car {
        height: 430px;
    }
}
@media only screen and (max-width: 1250px) { 
    .add-car {
        height: 416px;
    }
}
@media only screen and (max-width: 1220px) { 
    .add-car {
        height: 430px;
    }
}