<modal [show]="show">
    <div modal="header" class="text-right">
        هزینه ی ثبت اطلاعات
    </div>
    <div modal="body">
        <p class="text-right">
            مشترک گرامی لطفا طی ۱۲ ساعت آینده یکی از مبالغ زیر را با توجه نوع اشتراک خود پرداخت نمایید
        </p>
        <p class="alert alert-danger">
            در صورت عدم پرداخت طی مهلت تعیین شده ، ثبت نام شما لغو خواهد شد.
        </p>
        <div class="parent-table">

            لیست قیمت رگلاژ از ۱۴ مرداد ۹۷
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th>نوع اشتراک</th>
                        <th>
                            قیمت کل
                                (تومان)
                        </th>
                        <th>
                            مالیات بر ارزش افزوده 
                            (۹٪)
                        </th>
                        <th>
                            جمع کل 
                            (تومان)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of plans;">
                        <td>{{ p.duration }}</td>
                        <td [innerHtml]="p.price | separator | rial"></td>
                        <td [innerHtml]="p.price * tax | separator | rial"></td>
                        <td [innerHtml]="p.price + (p.price * tax) | separator | rial"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p>
            شماره حساب: 8364567942
        </p>
        <p>
            شماره کارت: 6104-3376-2578-1875
        </p>
        <p>
            بانک ملت
        </p>
        <p>
            به نام : شرکت ظریف پردازان ایده نیک
        </p>
        ثبت نام شما با موفقیت ثبت شد
    </div>
    <div modal="footer">
        <button class="btn btn-success btn-sm" [routerLink]="['/service-center/my-service-centers']">تایید</button>
    </div>
</modal>