<div class="wrapper container-fluid">
    <div class="reqiest-list">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                <ul>
                    <!-- <li>
            <span class="status-color"></span>
            <div class="comment">
              <div class="row">
                <div class="col-lg-5 text-right">
                  خانوم محمدی
                </div>
                <div class="col-lg-7 text-left">
                  پرشیا |
                  مکانیکی |
                  تعمیر موتور |
                  97/06/12 |
                  18:00
                </div>
              </div>
              <div class="row">
                <div class="col-lg-5 text-right">
                  سلام موتور ماشینم لرزش زیادی داره
                </div>
                <div class="col-lg-7 text-left">
                  <i class="icon icon-check icon-2x"></i>
                  <i class="icon icon-check icon-2x"></i>
                </div>
              </div>
            </div>
          </li>
          <li>
              <span class="status-color"></span>
              <div class="comment">
                <div class="row">
                  <div class="col-lg-5 text-right">
                    خانوم محمدی
                  </div>
                  <div class="col-lg-7 text-left">
                    پرشیا |
                    مکانیکی |
                    تعمیر موتور |
                    97/06/12 |
                    18:00
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-5 text-right">
                    سلام موتور ماشینم لرزش زیادی داره
                  </div>
                  <div class="col-lg-7 text-left">
                    <i class="icon icon-check icon-2x"></i>
                    <i class="icon icon-check icon-2x"></i>
                  </div>
                </div>
              </div>
            </li> -->
                    <li>
                        <span class="status-color"></span>
                        <div class="comment">
                            درخواست ثبت شده‌ای ندارید!
                        </div>
                    </li>

                </ul>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                <div class="calendar">

                </div>
            </div>
        </div>
    </div>
</div>