.reqiest-list {
    border: 1px solid #1d3351;
    border-radius: 3px;
    margin-top: 5vh;
    padding-right: 15px;
    height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
    ul {
        li {
            background-color: #f2f2f2;
            -webkit-box-shadow: 0px 1px 4px 0px rgba(52, 50, 50, 0.74);
            -moz-box-shadow: 0px 1px 4px 0px rgba(52, 50, 50, 0.74);
            box-shadow: 0px 1px 4px 0px rgba(52, 50, 50, 0.74);
            position: relative;
            margin-bottom: 10px;
            .status-color {
                width: 5px;
                height: 100%;
                background: red;
                display: inline-block;
                position: absolute;
                right: 0;
            }
            .comment {
                padding: 10px;
                padding-right: 20px;
                margin-top: 10px;
                font-size: 0.9rem;
            }
        }
    }
    .calendar {
        background-color: #3d5680;
        height: 74.8vh;
    }
}
.text-right {
    text-align: right;
}
@media only screen and (max-width: 768px) {
    .reqiest-list {
        padding-left: 15px;
    }
}
