<form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="edite-container">
    <div class="row field" [appHasError]="form.get('firstName')" [appTooltipError]="form.get('firstName')">
      <div class="col-sm-3 col-xs-4 field-label">
        نام
      </div>
      <div class="col-sm-9 col-xs-8 field-value">
        <input type="text" formControlName="firstName">
      </div>
    </div>
    <div class="row field" [appHasError]="form.get('lastName')" [appTooltipError]="form.get('lastName')">
      <div class="col-sm-3 col-xs-4 field-label">
        نام خانوادگی
      </div>
      <div class="col-sm-9 col-xs-8 field-value">
        <input type="text" formControlName="lastName">
      </div>
    </div>
  </div>
  <div class="footer-container row center-xs">
      <div class="col-md-3 col-xs-6">
        <button type="button" class="btn btn-primary btn-sm" routerLink="../info">انصراف</button>
      </div>
      <div class="col-md-3 col-xs-6">
        <button type="submit" class="btn btn-primary btn-sm">تایید</button>
      </div>
  </div>
</form>
