<!-- <form>
  <div>
    <label for="model-input">مدل خودرو</label>
    <select [compareWith]="byId" [(ngModel)]="selectedModel" id="model-input" name="model">
      <option *ngFor="let model of models" [ngValue]="model">
          {{ model.title }}
      </option>
    </select>
  </div>
  <div>
    <label for="color-input">رنگ خودرو</label>
    <select [compareWith]="byId" [(ngModel)]="selectedColor" id="color-input" name="color">
      <option *ngFor="let color of colors" [ngValue]="color" [ngStyle]="{background: color.hex}">
          {{ color.title }}
      </option>
    </select>
  </div>
  <div>
    <label for="year-input">سال ساخت خودرو</label>
    <input [(ngModel)]="selectedYear" type="number" id="year-input" name="year" placeholder="سال تولید" >
  </div>
  <div>
    <label for="vin-input">شماره شاسی خودرو</label>
    <input [(ngModel)]="selectedVin" type="string" id="vin-input" name="vin" placeholder="شماره شاسی" >
  </div>
  <div>
    <label>شماره پلاک</label>
    <input [(ngModel)]="selectedLpn.code1" type="text" name="lpn-1" placeholder="۱۲۳" >
    <input [(ngModel)]="selectedLpn.code2" type="text" name="lpn-2" placeholder="ب" >
    <input [(ngModel)]="selectedLpn.code3" type="text" name="lpn-3" placeholder="۱۲" >
    <input [(ngModel)]="selectedLpn.iranCode" type="text" name="lpn-4" placeholder="۱۱" >
  </div>
  <button (click)="next()" type="button">تایید</button>
  <button (click)="cancel()" type="button">انصراف</button>
  <button (click)="pre()" type="button">بازگشت</button>
</form> -->

 <!-- ------------------------- NEW ------------------------------ -->

<div class="register-car">
  <section class="header">ثبت خودروی جدید</section>
  <!-- <form> -->
    <section>

      <div class="row">
        <div class="col-lg-4 col-sm-4 col-xs-12">
          <div>
            <label for="" class="label">مدل خودرو:</label>
            <ul id="model-input">
              <li *ngFor="let model of models" (click)="selectedModel = model" [ngClass]="{'active': isThisModel(model)}">
                  {{ model.title }}
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12">
          <div>
            <label for="" class="label">رنگ:</label>
            <ul id="color-input">
              <li *ngFor="let color of colors" (click)="selectedColor = color" [ngClass]="{'active': isThisColor(color)}">
                  {{ color.title }}
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12">
            <div>
              <label for="" class="label">سال:</label>
              <ul>
                <li *ngFor="let year of years" (click)="selectedYear = year.jalali" [ngClass]="{'active': isThisYear(year)}">
                  <span class="mildi">{{ year.miladi }} - </span>
                  <span class="shamsi">{{ year.jalali }}</span>
                </li>
              </ul>
              <!-- <input [(ngModel)]="selectedYear" type="number" id="year-input" class="uk-input" name="year" placeholder="سال تولید" > -->
            </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-4 col-xs-12">
            <div class="vin-number">
              <label for="vin-input">شماره شاسی خودرو</label>
              <input [(ngModel)]="selectedVin" class="full-width" type="string" id="vin-input" name="vin" placeholder="شماره شاسی" >
            </div>
        </div>
        <div class="col-lg-6 col-xs-12">
          <div class="lpn-section">
            <div class="lpn">
              <div>
                <img src="assets/images/iran.png">
                <input type="text" [(ngModel)]="selectedLpn.iranCode" placeholder="11" maxlength="2">
              </div>
              <div>

                <input type="text" [(ngModel)]="selectedLpn.code3" placeholder="۱۲۳" maxlength="3">
                <input type="text" [(ngModel)]="selectedLpn.code2" placeholder="الف" maxlength="3">
                <input type="text" [(ngModel)]="selectedLpn.code1" placeholder="۱۲" maxlength="2">

              </div>
              <div class="clear"></div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row btn-box center-xs">
        <div class="col-lg-2 col-sm-4 col-xs-12">
          <button (click)="pre()" type="button" class="btn btn-primary btn-sm full-width">بازگشت</button>
        </div>
        <div class="col-lg-2 col-sm-4 col-xs-12">
          <button (click)="cancel()" type="button" class="btn btn-primary btn-sm full-width">انصراف</button>
        </div>
        <div class="col-lg-2 col-sm-4 col-xs-12">
          <button (click)="next()" type="button" class="btn btn-primary btn-sm full-width">تایید</button>
        </div>
      </div>

    </section>
  <!-- </form> -->
</div>



 <!-- <div class="">
    <div class="">
      <span></span>
      <label>اضافه کردن ماشین</label>
    </div>
    <div>
      <form>

        <div>
          <label for="">مدل:</label>
          <select [compareWith]="byId" [(ngModel)]="selectedModel" id="model-input" name="model">
            <option *ngFor="let model of models" [ngValue]="model">
                {{ model.title }}
            </option>
          </select>
        </div>

        <div>
          <label for="">رنگ:</label>
          <select [compareWith]="ویرایش
حذف
ایران 11
f11
f
12
￼
برند	IRAN KHODRO (IKCO)
مدل	Captur
رنگ	Sea Blue
سال	1396
byId" [(ngModel)]="selectedColor" id="color-input" name="color">
            <option *ngFor="let color of colors" [ngValue]="color" [ngStyle]="{background: color.hex}">
                {{ color.title }}
            </option>
          </select>
        </div>

        <div>
          <label for="">سال:</label>
          <input [(ngModel)]="selectedYear" type="number" id="year-input" class="uk-input" name="year" placeholder="سال تولید" >
        </div>

        <div>
          <label for="vin-input">شماره شاسی خودرو</label>
          <input [(ngModel)]="selectedVin" type="string" id="vin-input" name="vin" placeholder="شماره شاسی" >
        </div>

        <div>
          <div>
            <div>
              <label for="plate-right">ایران</label>
              <input type="text" [(ngModel)]="selectedLpn.iranCode" maxlength="2" id="plate-right" name="lpn-c4">
            </div>
            <div class="r-c2">
              <input type="text" [(ngModel)]="selectedLpn.code3" maxlength="3" name="lpn-c3">
            </div>
            <div class="r-c3">
              <select [(ngModel)]="selectedLpn.code2" name="lpn-c2">
                <option value="الف">الف</option>
                <option value="ب">ب</option>
                <option value="ج">ج</option>
                <option value="د">د</option>
              </select>
            </div>
            <div>
              <input type="text" [(ngModel)]="selectedLpn.code1" maxlength="2" name="lpn-c1">
            </div>
            <div>
              <img src="assets/images/plate-side.png" alt="plate-side">
            </div>
          </div>
        </div>
      </form>
    </div>
    <div>
      <button (click)="next()" type="button">تایید</button>
      <button (click)="cancel()" type="button">انصراف</button>
      <button (click)="pre()" type="button">بازگشت</button>
    </div>
  </div> -->



