@import '../../../../../assets/scss/variables/color';
@import '../../../../../assets/scss/mixin/css3';

.register-car {

    section {
        border: 1px solid map-get($colors,primary);
        padding-bottom: 50px;
        padding: 30px;
        label {
            text-align: right;
            line-height: 1.5;
            display: block;
            font-size: 0.9rem;
        }
        &.header {
            padding: 10px;
            text-align: center;
            background: #3d5680;
            border-radius: 5px 5px 0 0;
            color: #fff;
            margin-top: 20px;
        }
        ul {
            border: 1px solid #3d5680;
            border-radius: 5px;
            height: 250px;
            max-height: 250px;
            padding: 10px;
            overflow: auto;
            text-align: center;
            li {
                line-height: 2;
                border-bottom:1px solid darken(map-get($colors, 'light'), 25%);
                width: 60%;
                margin: auto;
                color: map-get($colors, primary);
                cursor: pointer;

                &:hover {
                  width: 80%;
                  border-color: map-get($colors, primary);
                  border-bottom-width: 2px;
                }

                &.active {
                  border-color: map-get($colors, primary);
                  border-bottom-width: 2px;
                  width: 80%;
                }

                @include transition(width 600ms)
            }
        }
        .vin-number {
            margin-top: 20px;
            input {
                border:1px solid #666;
                border-radius: 5px;
                padding: 10px;
                background-color: $light;
                margin-top: 10px;
            }
        }
        .btn-box {
            border-top:1px solid map-get($colors, primary);
            padding-top: 20px;
            width: 87%;
            margin-top: 20px;
            margin: auto;
        }
    }
    .lpn-section {
        padding: 10px;

        .lpn {
            border: 2px solid #000;
            border-radius: 4px;
            position: relative;
            line-height: 0;
            clear: both;
            height: 80px;
            div {
                &:first-child {
                    
                    float: right;
                    padding: 4px;
                    text-align: center;
                    width: 20%;
                    img {
                        width: 100%;
                        margin-bottom: 5px;
                        max-height: 10px;
                    }
                    input {
                        width: 100%;
                        background-color: transparent;
                        border: none;
                        line-height: 0;
                        text-align: center;
                        outline: none;
                        height: 57px;
                        font-size: 3.5rem;
                    }
                }
                &:nth-child(2) {
                    width: 73%;
                    height: 100%;
                    float: right;
                    border-left: 2px solid #000;
                    border-right: 2px solid #000;
                    input {
                        width: 32%;
                        border: none;
                        font-size: 4.4rem;
                        background-color: transparent;
                        border: none;
                        height: 100%;
                        padding-top: 10px;
                        text-align: center;
                        :nth-child(2) {
                            width: 25%;
                        }
                    }
                }
                &:last-child {
                    position: absolute;
                    float: right;
                    left: 0;
                    width: 7%;
                    font-size: 2.5rem;
                    bottom: 0;
                    top: 0;
                    margin: auto;
                    background-image: url(../../../../../assets/images/plate-side.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .register-car .lpn-section .lpn div:nth-child(2) input {
        font-size: 2rem;
        width: 30%;
    }
    .register-car .lpn-section .lpn div:first-child input {
        font-size: 1.5rem;
        height: 34px;
        
    }
    .register-car .lpn-section .lpn {
        height: 50px;
    } 
}

