<!-- <div class="text-center">
    <div class="coming-soon">
        <h3>
            به زودی...
        </h3>
    </div>
</div> -->



<!-- <p class="title-request">وب سایت رگلاژ, رزرو آنلاین تعمیرکاران خودرو سراسر کشور</p> -->
<div class="wrapper container-fluid">
    <div class="row center-xs">
        
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <form class="reserve">
                 
                <div class="details">
                    <section class="head">جزئیات درخواست </section>
                    <section class="content">

                        <div class="row center-xs">
                            <div class="col-lg-5 col-md-5 col-xs-12"> 
                                <p class="lpn-title">
                                    شماره پلاک خود را وارد نمایید:
                                </p>
                            </div>
                            <div class="col-lg-7 col-md-7 col-xs-12">
                                <div class="dropdown">
                                    <ul class="items">
                                        <li class="item">
                                            <div class="car-card">
                                                <div class="lpn-wraper">
                                                    <div class="lpn-section">
                                                        <div class="lpn">
                                                            <div>
                                                                <img src="assets/images/iran.png">
                                                                <input type="text" value="11" placeholder="11" [(ngModel)]="reserveModel.iranCode" name="iranCode" maxlength="2">
                                                            </div>
                                                            <div>
        
                                                                <input type="text" placeholder="365" [(ngModel)]="reserveModel.code3" name="code3" maxlength="3">
                                                                <input type="text" placeholder="ب" [(ngModel)]="reserveModel.code2" name="code2" maxlength="3">
                                                                <input type="text" placeholder="12" [(ngModel)]="reserveModel.code1" name="code1" maxlength="2">
        
                                                            </div>
                                                            <div class="lpn-iran-map"></div>
                                                        </div>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                        
                        <hr>

                        <div class="row">
                            <div class="col-xs-12">
                                <p class="title">مشخصات فردی, خودرو و نوع درخواست خود را وارد نمایید:</p>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-effect">
                                    <input type="text" placeholder="نام |" [(ngModel)]="reserveModel.firstname" name="firstname" class="effect" required>
                                    <span class="focus-border">
                                        <i></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-effect">
                                    <input type="text" placeholder="نام خانوادگی |" [(ngModel)]="reserveModel.lastname" name="lastname" class="effect" required>
                                    <span class="focus-border">
                                        <i></i>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-effect">
                                    <input type="text" placeholder="کد تخفیف |" [(ngModel)]="reserveModel.voucher" name="code" class="effect" required>

                                    <span class="focus-border">
                                        <i></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-effect">
                                    <input type="text" placeholder="مدل برند و سال خودرو |" [(ngModel)]="reserveModel.model" name="model" class="effect" required>

                                    <span class="focus-border">
                                        <i></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-effect">
                                    <input type="text" placeholder="شماره تلفن همراه |" [(ngModel)]="reserveModel.mobile" name="mobile" class="effect" required>
                                    <span class="focus-border">
                                        <i></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-effect">
                                    <input type="text" placeholder="درخواست تاریخ |" [(ngModel)]="reserveModel.date" name="date" class="effect" required>

                                    <span class="focus-border">
                                        <i></i>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-effect">
                                    <input type="text" placeholder="ساعت درخواست |" [(ngModel)]="reserveModel.time" name="time" class="effect" required>
                                    <span class="focus-border">
                                        <i></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-effect">
                                    <input cols="30" rows="10" placeholder="خدمات |" [(ngModel)]="reserveModel.service" name="service">
                                    <span class="focus-border">
                                        <i></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="description">
                            <div class="row">
                                <div class="col-xs-12">
                                    <textarea cols="30" rows="10" placeholder="  شرح درخواست و محدوده درخواست |" [(ngModel)]="reserveModel.description" name="description"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="buttons">
                                        <div class="row center-xs">
                                            <div class="col-lg-5">
                                                <button class="btn btn-primary btn-sm full-width" (click)="onSubmit();">تایید</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </section>
                </div>
                    
            </form>
        </div> 
        
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <section class="head">راهنما</section>
            <section class="content">
                <ul class="description-for-request">
                    <li>
                         در صورتی که مشکل پیش‌آمده برای خودروی خود را شناسایی کرده‌اید و
                            تعمیر گاه خاصی را برای ارائه خدمات مد نظر دارید، با استفاده از صفحه
                            <a href="#/service-center/map-view">
                                نقشه
                            </a> 
                            
                                ، تعمیرگاه مورد نظر را پیدا کنید
                            و روی گزینه رزرو این تعمیرگاه کلیک کنید.
                    </li>
                    <li>
                         در صورتی که مشکل پیش آمده برای خودرو شما برایتان نامفهوم است
                            یا قابل شناسایی و تشخیص نیست، با پشتیبانی فنی رگلاژ با شماره های (02122921866, 02122921867) تماس بگیرید
                            و از مشاوره فنی کارشناسان ما استفاده کنید.
                    </li>
                    <li>
                         در صورتی که ایراد خودروی خود را شناسایی کرده‌اید اما تعمیرگاه
                            به خصوصی مد نظرتان نیست فرم زیر را تکمیل کنید
                            و در بخش شرح درخواست، منطقه‌ای که تمایل دارید
                            برای شما تعمیرگاه رزرو شود را ذکر کنید.
        
                    </li>
                    <li class="phonenumbers">
                         شماره تماس پشتیبانی
                         <br>
                         ۰۲۱۷۲۴۹۱ <br>
                         ۰۲۱۲۲۹۲۱۸۶۷ - ۰۲۱۲۲۹۲۱۸۶۶

                    </li>
                </ul>
                <a href="https://reglazh.com/%D8%AA%D8%AE%D9%81%DB%8C%D9%81-%D9%87%D8%A7/" class="btn btn-sm btn-link">
                مشاهده تخفیف های موجود
                </a>
            </section>
        </div>
    </div>

    <!-- <form class="reserve">
        <div class="row center-xs">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="details">
                    <section class="head">جزئیات درخواست </section>
                    <section class="content">

                        <div class="dropdown">
                            <ul class="items">
                                <li class="item">
                                    <div class="car-card">
                                        <div class="lpn-wraper">
                                            <div class="lpn-section">
                                                <div class="lpn">
                                                    <div>
                                                        <img src="assets/images/iran.png">
                                                        <input type="text" value="11" placeholder="11" [(ngModel)]="reserveModel.iranCode" name="iranCode" maxlength="2">
                                                    </div>
                                                    <div>

                                                        <input type="text" placeholder="365" [(ngModel)]="reserveModel.code3" name="code3" maxlength="3">
                                                        <input type="text" placeholder="ب" [(ngModel)]="reserveModel.code2" name="code2" maxlength="3">
                                                        <input type="text" placeholder="12" [(ngModel)]="reserveModel.code1" name="code1" maxlength="2">

                                                    </div>
                                                    <div class="lpn-iran-map"></div>
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-effect">
                                    <input type="text" placeholder="نام" [(ngModel)]="reserveModel.firstname" name="firstname" class="effect" required>
                                    <span class="focus-border">
                                        <i></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-effect">
                                    <input type="text" placeholder="نام خانوادگی" [(ngModel)]="reserveModel.lastname" name="lastname" class="effect" required>
                                    <span class="focus-border">
                                        <i></i>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-effect">
                                    <input type="text" placeholder="کد تخفیف" [(ngModel)]="reserveModel.voucher" name="code" class="effect" required>

                                    <span class="focus-border">
                                        <i></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-effect">
                                    <input type="text" placeholder="مدل برند و سال خودرو" [(ngModel)]="reserveModel.model" name="model" class="effect" required>

                                    <span class="focus-border">
                                        <i></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-effect">
                                    <input type="text" placeholder="شماره تلفن همراه" [(ngModel)]="reserveModel.mobile" name="mobile" class="effect" required>
                                    <span class="focus-border">
                                        <i></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-effect">
                                    <input type="text" placeholder="درخواست تاریخ" [(ngModel)]="reserveModel.date" name="date" class="effect" required>

                                    <span class="focus-border">
                                        <i></i>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-effect">
                                    <input type="text" placeholder="ساعت درخواست" [(ngModel)]="reserveModel.time" name="time" class="effect" required>
                                    <span class="focus-border">
                                        <i></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-effect">
                                    <input cols="30" rows="10" placeholder="خدمات" [(ngModel)]="reserveModel.service" name="service">
                                    <span class="focus-border">
                                        <i></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="description">
                            <div class="row">
                                <div class="col-xs-12">
                                    <textarea cols="30" rows="10" placeholder="  شرح درخواست و محدوده درخواست" [(ngModel)]="reserveModel.description" name="description"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="buttons">
                                        <div class="row center-xs">
                                            <div class="col-lg-3">
                                                <button class="btn btn-primary btn-sm full-width" (click)="onSubmit();">تایید</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </section>
                </div>
            </div>
        </div>

    </form> -->
</div>