// .coming-soon {
//     background: url('../../../../../assets/images/auto_repair_service_logo.svg');
//     width: 80vw;
//     height: 80vh;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: contain;
//     margin: auto;
//     h3 {
//         position: absolute;
//         margin: auto;
//         top: 54vh;
//         right: 48vw;
//     }
// }
.title-request {
    padding: 50px 10px 20px;
    text-align: center;
    font-weight: bold;
}
.description-for-request {
    text-align: right;
    line-height: 1.6;
}
.description-for-request li {
    margin-bottom: 5px;
}
.reserve {
    margin-top: 20px;
    margin-bottom: 83px;
    .clear {
        clear: both;
    }
    .head {
        padding: 10px;
        text-align: center;
        background: #7bc844;
        border-radius: 5px 5px 0 0;
        color: #fff;
        margin-top: 20px;
        border: 1px solid #7bc844;
    }
    .content {
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        min-height: auto;
        height: auto;
        text-align: center;
        padding: 10px;
        margin-bottom: 50px;
        .lpn-title {
            line-height: 5.5;
            color: #8090aa;
        }
        .title {
            line-height: 1.5;
            text-align: right;
            padding-bottom: 10px;
            color: #8090aa;
        }
        .dropdown {
            padding: 10px;
            .items {
                .item {
                    .car-card {
                        .lpn-wraper {
                            .car-details {
                                float: right;
                                width: 40%;
                                span {
                                    line-height: 3;
                                }
                            }
                            .lpn-section {
                                padding: 10px;
                                margin: auto;

                                .lpn {
                                    border: 2px solid #000;
                                    border-radius: 4px;
                                    position: relative;
                                    line-height: 0;
                                    clear: both;
                                    height: 50px;
                                    div {
                                        &:first-child {
                                            float: right;
                                            padding: 4px;
                                            text-align: center;
                                            width: 20%;
                                            img {
                                                width: 100%;
                                                margin-bottom: 5px;
                                                max-height: 10px;
                                            }
                                            input {
                                                width: 100%;
                                                background-color: transparent;
                                                border: none;
                                                line-height: 0;
                                                text-align: center;
                                                outline: none;
                                                height: 18px;
                                                font-size: 2rem;
                                            }
                                        }
                                        &:nth-child(2) {
                                            width: 73%;
                                            height: 100%;
                                            float: right;
                                            border-left: 2px solid #000;
                                            border-right: 2px solid #000;
                                            input {
                                                width: 33%;
                                                border: none;
                                                font-size: 2rem;
                                                background-color: transparent;
                                                border: none;
                                                // line-height: 1.2;
                                                height: 100%;
                                                text-align: center;
                                                &:nth-child(2) {
                                                    width: 25%;
                                                }
                                            }
                                        }
                                        &:last-child {
                                            position: absolute;
                                            float: right;
                                            left: 0;
                                            width: 7%;
                                            font-size: 2.5rem;
                                            bottom: 0;
                                            top: 0;
                                            margin: auto;
                                            background-image: url(../../../../../assets/images/plate-side.svg);
                                            background-repeat: no-repeat;
                                            background-size: cover;
                                            background-position: center;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .date-time {
            padding: 10px;
            label {
                margin-left: 10px;
            }
        }
        .description {
            padding: 10px;
            textarea {
                border: 1px solid #3d5680;
                border-radius: 2px;
                background: #fff;
                width: 100%;
                height: 150px;
            }
        }
    }
    .buttons {
        // border: 1px solid #3d5680;
        // border-radius: 3px;
        padding-top: 10px;
    }
    .total-price-wraper {
        background-color: #ff0000;
        border: 1px solid #ff0000;
        text-align: center;
        margin-top: 3px;
        border-radius: 3px;
        color: #fff;
        line-height: 1.6;
        padding: 10px;
    }
}


.content-page {
    padding: 50px;
    .title {
        margin-bottom: 20px;
        text-align: center;
        font-size: 1.5em;
    }
    hr {
        color: #666;
    }
    p {
        font-size: 1.12em;
        line-height: 1.8;
        a {
            cursor: pointer;
            color: #1d3351;
            // float: left;
            text-decoration: none;
            width: 198px;
            text-align: center;
            margin: auto;
            display: block;
            img {
                height: 120px;
            }
            
        }
    }
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    text-align: right;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    text-align: right;

  }
  :-ms-input-placeholder { /* IE 10+ */
    text-align: right;

  }
  :-moz-placeholder { /* Firefox 18- */
    text-align: right;

  }

  .head {
    padding: 10px;
    text-align: center;
    background: #00a8ff;
    border-radius: 5px 5px 0 0;
    color: #fff;
    margin-top: 20px;
    border: 1px solid #00a8ff;
}
.content {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px 12px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 12px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 12px 15px 0px rgba(0,0,0,0.75);
    min-height: auto;
    height: auto;
    text-align: center;
    padding: 10px;

    .description-for-request {
        li {
            font-size: 13px;
            line-height: 2;
            color: #8090aa;
            &.phonenumbers {
                color: #00a8ff;
                font-size: 1.1rem !important;
            }
            &::before {
                content: " ";
                display: inline-block;
                width: 8px;
                height: 8px;
                background-color: red;
            }
        }
        
    }
    a.btn-link {
        text-decoration: none;
        background-color: #00a8ff;
        border-color: #00a8ff;
    }
    


}