<!-- <div class="picture-group" [ngClass]="{uploading: uploadInProgress}">
    <div class="picture-wrapper" (click)="bringFileSelector();">
        <img [src]="picturePath">

        <div class="loading" *ngIf="uploadInProgress">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div>
    <i class="material-icons" (click)="closeClick();" *ngIf="option.canDelete">close</i>
    <a href class="change-picture" (click)="bringFileSelector();">تغییر عکس</a>
    <input fileUpload ngFileSelect [options]="uploaderOptions" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput"
        type="file" hidden="true">
</div> -->