<div class="workshop-services margin-top">
    <div class="row center-xs row-min-width">
        <div class="user">
            <i class="icon icon-user-c icon-4x"></i>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <search [datas]="users" (changeTerm)="getSearchResult($event)" [value]="selectedMember" (chageValue)="onChangeMember($event)"
                [options]="{placeholder: 'شماره همراه'}" title="شماره همراه"></search>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="form-effect">
                <input class="effect" type="text" [(ngModel)]="job" placeholder="مسٔولیت" title="مسئولیت">
                <span class="focus-border">
                    <i></i>
                </span>
            </div>
        </div>
        <div class="plus col-xs-12" (click)="addMember()" title="اضافه کردن عضو">
            <div class="addserviceimage">
                <img src="assets/images/add-btn.svg">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="parent-table margin-top">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th>نام</th>
                            <th>نام خانوادگی</th>
                            <th>مسٔولیت</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let member of sc.members">
                            <td>{{ member.user.firstName }}</td>
                            <td>{{ member.user.lastName }}</td>
                            <td>{{ member.job }}</td>
                            <td>
                                <button (click)="removeMember(member)" class="remove-btn">
                                    <i class="icon icon-close icon-1x"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>