.margin-top {
    margin-top: 20px;
}
.workshop-services {
    .row-min-width {
        padding-left: 50px;
        padding-right: 60px;
        position: relative;
        .user {
            position: absolute;
            right: 0px;
            top: -2px;
        }
        .plus {
            position: absolute;
            left: 0px;
            top: 0px;
            cursor: pointer;
            .addserviceimage {
                img {
                    width: 35px;
                }
            }
        }
    }
    table {
        thead {
            th {
                padding: 10px 0;
                font-size: 0.8rem;
            }
        }
        tbody {
            td {
                line-height: 2;
                font-size: 0.8rem;
            }
        }
    }
    .icon::before {
        line-height: 0.4;
    }
    .effect {
        background-color: #fff;
    }
    .remove-btn {
        background: none;
        border: none;
        color: #ff0000;
        cursor: pointer;
    }
}
@media only screen and (max-width: 767px) {
    .workshop-services {
        .row-min-width {
            padding-left: 0;
            padding-right: 0;
            position: relative;
        }
    }
    .workshop-services {
        .row-min-width {
            .user {
                display: none;
            }
            .plus {
                position: static;
                .addserviceimage {
                    background: #00a9ff;
                    border-radius: 3px;
                    line-height: 0;
                    width: 100%;
                    img {
                        width: 35px;
                    }
                }
            }
        }
    }
}
