@font-face {
    font-family: "rf-icons";
    src: url('fonts/rf-icons.eot');
    src: url('fonts/rf-icons.eot?#iefix') format('eot'),
      url('fonts/rf-icons.woff2') format('woff2'),
      url('fonts/rf-icons.woff') format('woff'),
      url('fonts/rf-icons.ttf') format('truetype'),
      url('fonts/rf-icons.svg#rf-icons') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  .icon:before {
    display: inline-block;
    font-family: "rf-icons";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-lg {
    font-size: 1.3333333333333333em;
    line-height: 0.75em;
    vertical-align: -15%;
  }
  .icon-2x { font-size: 2em; }
  .icon-3x { font-size: 3em; }
  .icon-4x { font-size: 4em; }
  .icon-5x { font-size: 5em; }
  .icon-fw {
    width: 1.2857142857142858em;
    text-align: center;
  }
  
  .icon-cars:before { content: "\EA01" }
  .icon-check:before { content: "\EA02" }
  .icon-close:before { content: "\EA03" }
  .icon-companyphone:before { content: "\EA04" }
  .icon-description:before { content: "\EA05" }
  .icon-down:before { content: "\EA06" }
  .icon-edit:before { content: "\EA07" }
  .icon-folder:before { content: "\EA08" }
  .icon-home:before { content: "\EA09" }
  .icon-home1:before { content: "\EA0A" }
  .icon-left-c:before { content: "\EA0B" }
  .icon-map:before { content: "\EA0C" }
  .icon-map1:before { content: "\EA0D" }
  .icon-marker:before { content: "\EA0E" }
  .icon-more:before { content: "\EA0F" }
  .icon-my-car-repair-shop:before { content: "\EA10" }
  .icon-notification-c:before { content: "\EA11" }
  .icon-off:before { content: "\EA12" }
  .icon-phone:before { content: "\EA13" }
  .icon-plus:before { content: "\EA14" }
  .icon-request-list:before { content: "\EA15" }
  .icon-request:before { content: "\EA16" }
  .icon-setting:before { content: "\EA17" }
  .icon-transaction-list:before { content: "\EA18" }
  .icon-trash:before { content: "\EA19" }
  .icon-up:before { content: "\EA1A" }
  .icon-user-c:before { content: "\EA1B" }
  