<div class="background">
    <div class="row between-xs">
        <div class="col-md-2 col-xs-6">
            <a href="https://reglazh.com" class="nav-item right">
                <i class="icon icon-home"></i>
                <span>وبسایت</span>
            </a>
        </div>
        <div class="col-md-2 col-xs-6">
            <a routerLink="/service-center/map-view" class="nav-item left">
                <i class="icon icon-map"></i>
                <span>نقشه</span>
            </a>
        </div>
    </div>
    <div class="row center-xs">
        <div class="col-md-4 col-sm-6 col-xs-9">
            <div class="content-wraper">
                <img src="assets/images/logo-width.jpg" alt="reglazh logo" width="80">
                <h2 class="text-primary">
                    ثبت نام
                </h2>
                <div class="text-right">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="animate-wraper">
      <div class="earth-art"></div>
      <div class="car1" [@car1Position]="car.position">
          <img class="car-body" src="/assets/images/login-animate/Artboard 4.svg">
          <img class="wheel-back wheel" src="/assets/images/login-animate/Artboard 3.svg">
          <img class="wheel-front wheel" src="/assets/images/login-animate/Artboard 3.svg">
          <img [@anchor]="car.lift" class="anchor" src="/assets/images/login-animate/Artboard 6.svg">
      </div>
      <div class="car2" [@liftCar]="car.lift" [@car2Position]="car.position" (@car2Position.done)="animationDoneFn($event)" >
          <img class="car-body" src="/assets/images/login-animate/Artboard 5.svg">
          <img class="wheel-back wheel" src="/assets/images/login-animate/Artboard 2.svg">
          <img class="wheel-front wheel" src="/assets/images/login-animate/Artboard 2.svg">
      </div>
  </div> -->
</div>