<header *ngIf="layout.header">
    <div class="header-overlay"></div>
    <app-header [isOpenRight]="rightSideOpen" [isOpenLeft]="leftSideOpen" [canToggleRight]="!widthScreen" (toggleRightSidebar)="toggleRightSidebar()"
        (toggleLeftSidebar)="toggleLeftSidebar()">
    </app-header>
</header>

<main [ngClass]="{'pull-left': rightSideOpen}">
    <router-outlet></router-outlet>
    <footer *ngIf="layout.footer">
        <app-footer></app-footer>
    </footer>
</main>
<aside *ngIf="layout.aside" class="right-side" [ngClass]="rightSideOpen ? 'open' : 'close'">
    <app-side-bar></app-side-bar>
</aside>
<aside *ngIf="layout.header" class="left-side" [ngClass]="leftSideOpen ? 'open' : 'close'">
    <section class="bullet">
        <span class="circle info"></span>
        <span class="circle success"></span>
        <span class="circle warning"></span>
        <span class="circle danger"></span>
    </section>
    <section class="notif-box-success">
        <span class="notif-icon"></span>
        <h3 class="text-center">خوش آمدید</h3>
        <p>کاربر گرامی به سامانه ی رگلاژ خوش آمدید.</p>
    </section>
    <!-- <section class="notif-box-danger">
    <span class="notif-icon"></span>
    <h3 class="text-center">تخفیف٪۲۰ در صدی</h3>
    <p>تخفیف ٪۲۰ درصدی تعویض روغن در سرویس سنترهای سراسر تهران و کرج</p>
  </section>
  <section class="notif-box-light">
    <span class="notif-icon"></span>
    <h3 class="text-center">تخفیف٪۲۰ در صدی</h3>
    <p>تخفیف ٪۲۰ درصدی تعویض روغن در سرویس سنترهای سراسر تهران و کرج</p>
  </section> -->
</aside>

<router-outlet name="popup"></router-outlet>