@import '../assets/scss/mixin/flexbox';
@import '../assets/scss/mixin/css3';
@import '../assets/scss/variables/color';
@import '../assets/scss/variables/grid';

main {
    position: absolute;
    min-height: calc(100vh - 70px);
    padding-bottom: 30px;
    top: 70px;
    right: 70px;
    left: 0;
    @include transition(right 2s, transform 1s);

    @media only screen and (max-width: map-get($regbreakpoints, sm)) {
        & {
            right: 0px;
        }
    }
}

aside.right-side {
    width: 70px;
    background: map-get($colors, 'primary');
    overflow: auto;
    position: fixed;
    right: 0px;
    bottom: 0;
    top: 70px;
    z-index: 1010;
    @include transition(right 700ms);

    &.open {
        right: 0 !important;
    }

    &.close {
        right: -70px !important;
    }
}

aside.left-side {
    padding: 10px;
    padding-top: 70px;
    width: 250px;
    background: map-get($colors, 'primary');
    overflow: hidden;
    position: fixed;
    left: -250px;
    top: 0;
    bottom: 0;
    z-index: 1040;
    @include transition(left 700ms);

    &.open {
        left: 0 !important;
    }

    &.close {
        left: -250px !important;
    }
}

header {
    .header-overlay {
        background: #f2f2f2;
        border-bottom: 1px solid #cccccb;
        position: fixed;
        background: $light;
        top: 0;
        left: 0;
        right: 0;
        height: 70px;
        z-index: 1001;
    }
}

footer {
    color: #c7c7c7;
    background: $light;
    position: absolute;
    // height: 30px;
    width: 100%;
    text-align: center;
    bottom: 0;
}

// notification section

.bullet {
    text-align: center;
    border-top: 1px solid #fff;
    padding-top: 10px;
    margin: auto;
    width: 80%;
    .circle {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        display: inline-block;
        margin: 2px;
    }
    .info {
        background-color: map-get($status, info);
    }
    .success {
        background-color: map-get($status, success);
    }
    .warning {
        background-color: map-get($status, warning);
    }
    .danger {
        background-color: map-get($status, danger);
    }
}

.notif-box-light {
    margin-bottom: 10px;
    background: rgba($color: #fff, $alpha: 0.5);
    @include border-radius(5px);
    padding: 10px;
    position: relative;
    color: $light;
    border-bottom: 3px solid #fff;
    border-bottom-color: $light;
    h3 {
        border-bottom: 1px solid #fff;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    span {
        display: inline-block;
        position: absolute;
        left: 5px;
        top: 5px;
        width: 20px;
        height: 20px;
        background: $light;
        @include border-radius(50%);
    }
}
@each $name, $color in $status {
    .notif-box-#{$name} {
        margin-bottom: 10px;
        background: rgba($color: #fff, $alpha: 0.5);
        @include border-radius(5px);
        padding: 10px;
        position: relative;
        color: $light;
        border-bottom: 3px solid #fff;
        border-bottom-color: $color;
        h3 {
            border-bottom: 1px solid #fff;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }
        span {
            display: inline-block;
            position: absolute;
            left: 5px;
            top: 5px;
            width: 20px;
            height: 20px;
            background: $color;
            @include border-radius(50%);
        }
    }
}
