<div class="edite-container">
  <div class="row field">
    <div class="col-sm-3 col-xs-4 field-label">
      نام
    </div>
    <div class="col-sm-9 col-xs-8 field-value">
      <span>{{ user.firstName }}</span>
    </div>
  </div>
  <div class="row field">
    <div class="col-sm-3 col-xs-4 field-label">
      نام خانوادگی
    </div>
    <div class="col-sm-9 col-xs-8 field-value">
      <span>{{ user.lastName }}</span>
    </div>
  </div>
</div>
<div class="footer-container row center-xs">
    <div class="col-md-6 col-xs-12">
      <button class="btn btn-primary btn-sm" routerLink="../edit">ویرایش</button>
    </div>
    <!-- <div class="col-md-3 col-xs-6">
      <button class="btn btn-primary btn-sm">تغییر رمز عبور</button>
    </div> -->
</div>
