@import '../../../../../assets/scss/variables/color';
@import '../../../../../assets/scss/mixin/css3';


.edite-container {
  padding: 25px 0;
}

.field {
  width: 400px;
  margin: 0 auto 15px auto;
  border: 1px solid map-get($colors , 'primary');
  padding: 8px 5px;
  border-radius: 3px;
  position: relative;

  .field-label {
    border-left: 1px solid map-get($colors , 'primary');
    color: map-get($colors , 'primary');
    font-size: 0.9rem;
  }

  .field-value {
    input {
      background: none;
      border: none;
      outline: none;
      width: 100%;
      font-size: 1.2rem;
      text-align: center;
      color: map-get($colors , 'primary');
    }

    span {
      font-size: 1.2rem;
      color: map-get($colors , 'primary');
      text-align: center;
      width: 100%;
      
    }

    i {
      display: inline-block;
      font-size: 30px;
      line-height: 30px;
      position: absolute;
      left: -35px;
      height: 30px;
      top: 3px;
      color: map-get($colors , 'primary');
    }
  }
}

.footer-container {
  border-top: 1px solid map-get($colors , 'primary');
  padding: 0 10px;
  padding-top: 10px;

  button {
    width: 100%;
  }
}

@media only screen and (max-width: 580px) {
  .field {
    width: calc(100% - 10px) !important;
    margin: 10px 5px !important;
  }
}
