<p class="alert alert-danger" *ngIf="registerFormError">
  {{ registerFormError }}
</p>
<div>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit($event)">
    <app-input [formGroup]="registerForm" name="name" label="نام"></app-input>
    <app-input [formGroup]="registerForm" name="username" label="موبایل"></app-input>
    <app-input [formGroup]="registerForm" name="password" label="پسورد" type="password"></app-input>
    <p class="help-form">
      حداقل کاراکتر مجاز ۶ حرف میباشد.
    </p>
    <button class="btn btn-secendry btn-sm btn-block" type="submit">ثبت نام</button>
  </form>
</div>
<div class="row mt-a-b">
  <div class="col-xs-12 text-center">
    <a class="text-secendry footer-link" routerLink="/user/login">ورود</a>
  </div>
</div>

