
<div class="wrapper container-fluid" *ngIf="sc">
    <div class="single-service-center">
        <div class="row xs-center">
            <div class="col-lg-5 col-sm-5 col-xs-12">
                <section class="repair-shop">
                    <div class="repair-shop-header">
                        <div class="row">
                            <div class="col-lg-3">
                                <img src="{{ sc.image }}" class="shop">
                            </div>
                            <div class="col-lg-9">
                                <h1>{{ sc.title }}</h1>
                                <h3>{{ sc.slogan }}</h3>
                            </div>
                        </div>
                        <div class="address box-s">
                            <i class="icon icon-marker icon-1x"></i>
                            {{ sc.address.address}}
                        </div>
                        <div class="phone box-s">
                            <ol>
                                <i class="icon icon-phone icon-1x"></i>
                                <li>{{ sc.mobile }}</li>
                                <br>
                                <br>
                                <i class="icon icon-companyphone icon-1x"></i>
                                <li *ngFor="let p of sc.phoneNumbers">{{ p }}</li>
                            </ol>
                        </div>
                        <div class="description box-s">
                            <i class="icon icon-description icon-1x"></i>
                            <span [innerHTML]="sc.description"></span>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="map">
                                    <!-- <img class="center-loc" [src]="sc.markerImage" alt="service center location"> -->
                                    <div id="map" leaflet [leafletOptions]="options" [leafletZoom]="zoom" [leafletCenter]="center" (leafletMapReady)="onMapReady($event)"></div>
                                </div>
                            </div>
                        </div>

                    </div>

                </section>


            </div>
            <div class="col-lg-7 col-sm-7 col-xs-12">
                <tabs [activeTab]="changeTab">

                    <tab title="ساعات کاری">
                        <table class="work-time">
                            <thead>
                                <tr>
                                    <th>روز</th>
                                    <th>ساعت شروع کار</th>
                                    <th>ساعت پایان کار</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let day of sc.schedule">
                                    <td>
                                        {{ day.getWeekDayToString() }}
                                    </td>
                                    <td class="ltr">
                                        {{ day.startHour }}:{{ day.startMinute }}
                                    </td>
                                    <td class="ltr">
                                        {{ day.endHour }}:{{ day.endMinute }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </tab>

                    <tab title="پرسنل تعمیرگاه">
                        <div class="scroll member">
                            <ul class="row">
                                <li *ngFor="let m of sc.members" class="col-lg-2">
                                    <div>
                                        <i class="icon icon-user-c icon-4x"></i>
                                    </div>
                                    <h5>{{m.user.firstName}} {{m.user.lastName}} {{m.job}}</h5>
                                </li>
                            </ul>
                        </div>
                    </tab>
                    <tab title="هزینه سرویسها">
                        <div class="parent-table">
                            <table>
                                <thead>
                                    <tr>
                                        <th>نوع سرویس</th>
                                        <th>نام سرویس</th>
                                        <th>قیمت (تومان)</th>
                                        <th>برند خودروهای تحت پوشش</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let s of sc.services">
                                        <td>{{ s.category.title }}</td>
                                        <td>{{ s.title }}</td>
                                        <td>{{ s.price }}</td>
                                        <td>
                                            {{ s.company.title }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </tab>
                    <div class="row">
                            <!-- *ngIf="canAccess" -->
                        <div class="col-xs-4"> 
                            <button class="btn btn-primary btn-sm full-width" [routerLink]="['/service-center/edite', sc.id]" *ngIf="canAccess">ویرایش</button>
                        </div>
                        <div class="col-xs-4">
                            <!-- <button class="btn btn-primary btn-sm full-width" (click)="location.back()">بازگشت</button> -->
                            <!-- <a href="#/service-center/map-view?l={{sc.location}}">بازگش</a> -->
                            <a href="#/service-center/map-view" class="btn btn-primary btn-sm full-width reserve-btn">بازگشت</a>
                        </div>
                        <div class="col-xs-4">
                            <a href="#/request/fix/send/{{sc.id}}" class="btn btn-primary btn-sm full-width reserve-btn">رزرو</a>
                        </div>
                    </div>
                </tabs>
                <br>
                
            </div>
            
        </div>
    </div>

</div>