.repair-shop {
    border: 1px solid #3d5680;
    padding-bottom: 50px;
    margin-bottom: 20px;
    border-radius: 0 0 3px 3px;
    .repair-shop-header {
        position: relative;
        z-index: 5;
        ol {
            li {
                display: inline-block;
            }
        }
        img.shop {
            margin: 20px;
            margin-top: 25px;
            margin-left: 2px;
            border: 2px solid #fff;
            border-radius: 3px;
            width: 130px;
            height: 130px;
        }
        &::before {
            background: -moz-linear-gradient(
                145deg,
                rgba(255, 0, 0, 1) 0%,
                rgba(0, 0, 0, 1) 100%
            ); /* ff3.6+ */
            background: -webkit-gradient(
                linear,
                left top,
                right bottom,
                color-stop(0%, rgba(0, 0, 0, 1)),
                color-stop(100%, rgba(255, 0, 0, 1))
            ); /* safari4+,chrome */
            background: -webkit-linear-gradient(
                145deg,
                rgba(255, 0, 0, 1) 0%,
                rgba(0, 0, 0, 1) 100%
            ); /* safari5.1+,chrome10+ */
            background: -o-linear-gradient(
                145deg,
                rgba(255, 0, 0, 1) 0%,
                rgba(0, 0, 0, 1) 100%
            ); /* opera 11.10+ */
            background: -ms-linear-gradient(
                145deg,
                rgba(255, 0, 0, 1) 0%,
                rgba(0, 0, 0, 1) 100%
            ); /* ie10+ */
            background: linear-gradient(
                305deg,
                rgba(255, 0, 0, 1) 0%,
                rgba(0, 0, 0, 1) 100%
            ); /* w3c */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#FF0000',GradientType=1 ); /* ie6-9 */
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            height: 105px;
            width: 100%;
            content: '';
            z-index: -2;
        }
        i.icon {
            height: 21px;
            display: inline-block;
            vertical-align: middle;
            line-height: 0;
        }
        .icon-phone {
            font-size: 1.4rem;
        }
        .icon-marker {
            font-size: 1.4rem;
        }
    }
    h1 {
        margin-top: 75px;
        margin-bottom: 18px;
        color: #fff;
        padding-right: 10px;
    }
    h3 {
        margin-top: 34px;
        color: #00a9fe;
        padding-right: 10px;
    }
    .box-s {
        border-bottom: 1px solid #c4ccd9;
        padding: 10px;
    }
}
.work-time {
    width: 100%;
    th {
        background-color: #e8e8e8;
        color: #3d5680;
        border-left: 1px solid #3d5680;
        padding: 10px;
        &:last-child {
            border-left: 1px solid #e8e8e8;
        }
    }
    td,
    th {
        width: 33%;
        border-bottom: 1px solid #c4ccd9;
        text-align: center;
    }
    margin-bottom: 30px;
    .label {
        font-family: Georgia;
    }
    .heading {
        display: block;
        margin: 20px 0;
    }
    // input[type=checkbox] {
    //     display: none;
    // }
    // input[type=checkbox] + label {
    //     background: url('https://lh3.googleusercontent.com/Xxv2PonyC_el80dSzxdDFkgF7gM_Ru7u9ErRZS9hJeC9V1W073WowYQIhyivqHd74mt7GQBpL8aK9Aqsv9Kf2Ku_hjmsXsAZstjM0jFW4iQ85BYM41OnftEitTSzC0VagQ0hAxAYBbvTlOztGsDf5WOTW39gixPLf7DTZ72-YKANYzf1nMSH6Pc2b4_MTf4deEku7cS_xenmFAwlO5wM9lAs2TXRbOJBmuJmlIm1f6Zv7CNQR96yldK98z9QtDkDiZib2YxdFNXK_eLec8yWy-syA3imgmBDrlCR7BGZzVN36PTJDe5yChArZ-Gn2QHZAwsMCtKys_tKjngmgnYvTyj182U3jTz1Lt0N9OLpv_N4ouK8o4QEvvGs8BOTx9jAnlHoDY8D_QsKLgf_Vo1OG_DCJj67b3MTu9BYU4o3UXQgjTx7R-fHrl8V_zSHpaJyN61dwt0wVX9kerZxfxdFLnKu2CQOBITobLfZK0Q9T4REe2goZOqX0EQHfvLWuLlw7cur_VdXJctEKYCqINzeYxFqeyh1VGRkOjaY-ke73m8KkG2EYSlym7p1sYnX53xzNG66C5vCvHRm7624WZj9a2pTXSwjLCGEcQYtZ96nPTUYmrn-=s23-no') left top no-repeat;
    //     display: block;
    //     min-height: 23px;
    //         padding-left: 50px;
    // }
    // input[type=checkbox]:checked + label {
    //     background: url('https://lh3.googleusercontent.com/HtfShMuTVS5ellcvc4pNootlL8UKbR93Q6XHDDhcXmlxB6ImLN_A5WpYZSGDT_NJjPIK7MUl2jlwdFnD6RNYKak6bEYJ0X453PgqaNS_TEWp8Ck4fysY6Rx08jfENtWmpPETSqOeB3BoSLVuD8ZUdXlJ37ArYTmDbsCQA41zTuD1lT2m59ze9odMF2PB8FEQimdJtkyq1572ywgIdZwlimHTn3fgLK2OHza42kl22Wr4_JX1Ih1yEaqjQQTYS-5uGyiZat0SqRNoxdoYilsqcgQ0fLGiKjaPQb7gGbVjl1NFzfP5Mbyu7sOIQQ8sbRAZx63rNbD-fhvG5bLFuYulqyO6VBTBJ82KtumHkUV1ejR0sRn6hK-eFWJ7jvl1wnoqM3Ps6yFh7Jsl67r_9Yr5WF-nTwGYX979k0R7ZGmeL82tg2PGdzUlfiez6iuE6jByvEMsLC3QCLbUhA8-IY9pX-bi3b1YHq4jPk1Up5o1m15i1QuQk0fE4QuRNPBrd8L54bSjFF7mqmAdDwvC5y8wuj8O3GPYF5KA9AupDJIsE5C5-DcbkIhjvcBDaLHSpDq8KLI5BRUE9PunQl9GUrW3BdFagrJ1l79MmysIwewy_yGHRbnI=s23-no') left top no-repeat;
    //     padding-left: 50px;
    // }
    input[type='text'] {
        background: #fff;
        border: none;
        color: #999;
        text-align: center;
        line-height: 2;
    }
}
.single-service-center {
    margin-top: 20px;
}
.parent-table {
    margin-top: 20px;
    margin-bottom: 20px;
    table {
        width: 100%;
        font-size: 0.8rem;
        tr {
            td,
            th {
                padding: 5px;
                border-bottom: 1px solid #ccc;
                text-align: center;
                line-height: 2;
                select {
                    font-size: 0.6rem;
                    border: 1px solid #fff;
                }
            }
        }
    }
}
.member {
    margin-bottom: 20px;
    ul {
        li {
            text-align: center;
            h5 {
                font-size: 0.8rem;
            }
            i {
                line-height: 0;
            }
        }
    }
}
.map {
    position: relative;
    height: 200px;
    width: 100%;
    #map {
        width: 100%;
        height: 200px;
        margin-bottom: 10px;
    }
    .center-loc {
        width: 50px;
        height: auto;
        position: absolute;
        z-index: 1001;
        top: 60px;
        left: calc(50% - 25px);
    }
}
.reserve-btn {
    text-align: center;
    text-decoration: none;
}