<div class="wrapper container-fluid">
  <div class="row center-xs">
    <div class="col-lg-9 col-sm-10 col-xs-12">
      <div class="card-profile">
        <div class="picture-container">
          <img [src]="userPic" width="100" height="100" alt="user image">
          <button class="icon-btn pointr" (click)="openUploadBox = true">
            <i class="icon icon-edit"></i>
          </button>
          <div class="upload-pic-container" *ngIf="openUploadBox">
              <input #fileInput type="file" (change)="handleFileInput($event.target.files)" name="userImage" style="position: absolute; visibility: hidden">
              <div class="loading" *ngIf="loading">
                <div class="overlay"></div>
                <app-spiner></app-spiner>
              </div>
              <div class="row">
                <div class="col-xs-9 text-right"><h4>عکس پروفایل</h4></div>
                <div class="col-xs-3 text-left"><i class="icon icon-close pointr" (click)="openUploadBox = false"></i></div>
              </div>
              <p class="mt-5 text-right">
                عکس خود را انتخاب کنید
              </p>
              <div class="row field">
                <div class="col-sm-3 col-xs-4 field-label">
                  عکس
                </div>
                <div class="col-sm-9 col-xs-8 field-value">
                  <span>{{ fileName }}</span>
                </div>
                <button class="icon-btn icon-btn-upload pointr" (click)="selectFile()" id="browse-btn"><i class="icon icon-folder"></i></button>
                <button class="icon-btn icon-btn-upload pointr" (click)="uploadPic()" id="upload-btn"><i class="icon icon-check"></i></button>
              </div>
              <div class="row mob-btn-box">
                  <div class="col-xs-6">
                    <button class="btn btn-sm pointr" (click)="selectFile()"><i class="icon icon-folder"></i></button>
                  </div>
                  <div class="col-xs-6">
                    <button class="btn btn-sm pointr" (click)="uploadPic()" [disabled]="!fileSelected"><i class="icon icon-check"></i></button>
                  </div>
              </div>
          </div>
        </div>
        <div class="info-container">
          <ul>
            <li>{{ user.firstName }} {{ user.lastName}}</li>
            <li>{{ user.phoneNumber }}</li>
          </ul>
        </div>
        <router-outlet></router-outlet>
        <div class="footer-container row center-xs">
            <div class="col-md-6 col-xs-12">
              <button class="btn btn-secendry btn-sm" [routerLink]="['/service-center/add']">اضافه کردن مرکز خدماتی</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

