@import '../../../../assets/scss/variables/color';
@import '../../../../assets/scss/mixin/css3';

.card-profile {
  width: 100%;
  border: 1px solid map-get($colors, 'primary');
  border-radius: 4px;
  overflow: hidden;
  margin-top: 40px;

  .picture-container {
    background: url('/assets/images/Background-1.png');
    height: 100px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    text-align: center;

    img {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      border: 4px solid white;
      margin-top: 40px;
      @include box-shadow(0, 2px, 5px, rgba(117, 117, 117, 0.445));
    }

    .icon-btn {
      position: absolute;
      left: calc(50% - 80px);
      bottom: -48px;
      border: none;
      background: none;
      outline: none;

      i {
        font-size: 35px;
        line-height: 25px;
        // width: 25px;
        // height: 25px;
        display: inline-block;
        color: map-get($colors , 'primary');
      }

      &:hover {
        i {
          color: map-get($colors , 'secendry');
        }
      }

      &:active {
        i {
          color: lighten(map-get($colors , 'secendry'), 30%);
        }
      }
    }

    .upload-pic-container {
      background-color: map-get($colors , 'primary');
      width: 500px;
      position: absolute;
      left: calc(50% - 250px);
      top: 150px;
      border-radius: 4px;
      color: map-get($colors , 'light');
      padding: 10px 15px;
      z-index: 9999;

      .loading {
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        .overlay {
          position: absolute;
          bottom: 0;
          top: 0;
          left: 0;
          right: 0;
          background: black;
          opacity: 0.7;
          z-index: 1001;
          border-radius: 4px;
        }

        app-spiner {
          position: absolute;
          z-index: 1002;
          margin-top: -55px;
          left: 0;
          right: 0;
        }
      }

      .field {
        background-color: white;
        margin: 10px 0 0 0;
      }

      .icon-btn-upload {
        display: inline-block;
        position: absolute;
        top: 0;
        left: -40px;
        bottom: 0;

        i {
          color: map-get($colors, 'light');
        }

        &:hover {
          i {
            color: map-get($colors, 'secendry');
          }
        }
      }

      #browse-btn {
        left: -40px;
      }

      #upload-btn {
        left: -80px;
      }

      .mob-btn-box {
        height: 0;
        overflow: hidden;
         .btn {
          background: transparent;
          border: 1px solid white;
          width: 100%;
          margin: 10px 0;
          position: relative;
          height: 3rem;

          i {
            display: inline-block;
            height: 3rem;
            width: 3rem;
            line-height: 1rem;
            font-size: 3rem;
            position: absolute;
            top: 0;
            left: calc(50% - 1.5rem);
          }
         }
      }

    }
  }

  .info-container {
    margin-top: 50px;
    padding: 0 15px;
    text-align: center;

    ul {
      li {
        font-size: 1.2rem;
        color: map-get($colors , 'primary');
        line-height: 1.2;
      }
    }
  }

  .footer-container {
    // border-top: 1px solid map-get($colors , 'primary');
    padding: 0 10px;
    // padding-top: 10px;

    button {
      width: 100%;
    }
  }

  // .edite-container {
  //   padding: 25px 0 !important;
  // }

  .field {
    width: 400px;
    margin: 0 auto 15px auto;
    border: 1px solid map-get($colors , 'primary');
    padding: 8px 5px;
    border-radius: 3px;
    position: relative;

    .field-label {
      border-left: 1px solid map-get($colors , 'primary');
      color: map-get($colors , 'primary');
      font-size: 1.2rem;
    }

    .field-value {
      input {
        background: none;
        border: none;
        outline: none;
        width: 100%;
        font-size: 1.2rem;
        text-align: center;
        color: map-get($colors , 'primary');
      }

      span {
        font-size: 1.2rem;
        color: map-get($colors , 'primary');
        text-align: center;
        width: 100%;
        overflow: hidden;
        display: block;
      }

      i {
        display: inline-block;
        font-size: 30px;
        line-height: 30px;
        position: absolute;
        left: -35px;
        height: 30px;
        top: 3px;
        color: map-get($colors , 'primary');
      }
    }
  }
}

.mt-5 {
  margin-top: 5px;
}

@media only screen and (max-width: 580px) {
  .field {
    width: calc(100% - 10px) !important;
    margin: 10px 5px !important;
  }

  .upload-pic-container{
    width: 300px !important;
    left: calc(50% - 150px) !important;

    .field {
      display: none;
    }

    p {
      display: none;
    }

    .mob-btn-box {
      height: auto !important;
    }
  }
}

.pointr {
  cursor: pointer;
}
@media only screen and (max-width: 400px) {
  
  .upload-pic-container {
    width: 250px !important;
    left: calc(50% - 125px) !important;
  }
}