<div class="form-effect">
    <input #input class="effect search-input" (blur)="onBlur()" (focus)="onFocus()" type="text" [placeholder]="options.placeholder">
    <span class="focus-border">
        <i></i>
    </span>
    <ul class="drop-down" *ngIf="datas && (datas.length > 0) && dropOpen">
        <li class="options" *ngFor="let data of datas" (click)="selectOption(data);" [ngClass]="{'active': value == data}">
            <span>{{ data.title }}</span>
        </li>
    </ul>
</div>