@import '../../../assets/scss/variables/color';
@import '../../../assets/scss/mixin/css3';
.drop-down {
    position: absolute;
    background: map-get($colors, 'primary');
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    top: 33px;
    left: 0;
    right: 0;
    z-index: 1010;
    max-height: 400px;
    overflow-y: scroll;
    li {
        padding: 10px;
        color: map-get($colors, 'light');
        border-bottom: 1px solid darken(map-get($colors, 'light'), 40%);
        span {
            cursor: pointer;
        }
        &:last-child {
            border-bottom: none;
        }
        &:hover,
        &.active {
            background-color: map-get($colors, 'meta-primary');
        }
    }
}
