<div [appHasError]="formGroup.get(name)">
    <label [for]="name + '-input'" class="label">{{ label }}</label>
    <div class="form-effect" [appTooltipError]="formGroup.get(name)">
        <input [type]="type" class="effect" [id]="name + '-input'" [formControl]="formGroup.get(name)" [placeholder]="label">
        <span class="focus-border">
            <i></i>
        </span>
    </div>
</div>