@import '../../../assets/scss/variables/color';
@import '../../../assets/scss/variables/grid';
@import '../../../assets/scss/mixin/css3';

.overlay {
    background: map-get($colors, 'dark');
    opacity: 0.8;
    position: fixed;
    z-index: 3000;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.container-box {
    background-color: map-get($colors, 'light');
    position: fixed;
    z-index: 3001;
    width: 750px;
    height: 88vh;
    margin: 100px 32vw;
    border-radius: 4px;
    padding: 15px;
    padding-bottom: 5px;
    top: 6vh;
    left: 0;
    right: 0;
    margin: auto;
    overflow: auto;

    .modal-body {
        margin: 20px;
        line-height: 1.5em;
        font-size: 1.1em;
        padding: 5px;
    }

    .modal-footer {
        button {
            width: 100%;
        }
    }
}

@media screen and (max-width: map-get($regbreakpoints, sm)) {
    .container-box {
        width: 90%;
        top: 5%;
        left: 0;
        right: 0;
        margin: auto;
    }
}
// @media screen and (max-width: map-get($regbreakpoints, xs)) {
//   .container-box {
//     width: 200px;
//     height: 250px;
//   }
// }

.close {
    position: absolute;
    right: 8px;
    top: 10px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}
.close:hover {
    opacity: 1;
}
.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}
