<div class="overlay" *ngIf="show"></div>
<div class="container-box" *ngIf="show">
    <a (click)="close()" class="close"></a>
    <div class="row">
        <div class="col-xs-12">
            <div class="modal-body">
                <ng-content select="[modal=header]"></ng-content>
                <hr>
                <ng-content select="[modal=body]"></ng-content>
            </div>
        </div>
    </div>
    <div class="row modal-footer">
        <div class="col-xs-12">
            <ng-content select="[modal=footer]"></ng-content>
        </div>
    </div>
</div>