@import '../../../../../assets/scss/variables/color';
@import '../../../../../assets/scss/mixin/css3';

.steps {
    margin-top:20px;
    text-align: center;
    section {
        display: inline-block;
        &.line {
            width: 100px;
            border-top: 1px solid map-get($colors, primary);
            height: 5px;
        }
        &.number-step {
            border-radius: 50%;
            width: 25px;
            height: 25px;
            border: 1px solid map-get($colors, primary);
            text-align: center;
            line-height: 1.8;
        }
    }
}

.register-car {
    
    section {
        border: 1px solid map-get($colors,primary);
        padding: 10px;
        &.header {
            padding: 10px;
            text-align: center;
            background: #3d5680;
            border-radius: 5px 5px 0 0;
            color: #fff;
            margin-top: 20px;
        }
        .car-brand {
            margin-bottom: 25px;
            img {
                width: 120px;
            }
            h1 {
                color: map-get($colors, primary);
            }
            h2 {
                color: map-get($colors, primary);
            }

        }
        table {
            width: 100%;
            
            td {
                text-align: left;
                padding: 5px 10px;
            }
            th {
                text-align: right;
                padding: 5px 10px;
            }
        }
        .btn-box {
            border-top: 1px solid map-get($colors, primary);
            margin-top: 25px;
            padding-top: 20px;
        }
        .lpn-section {
            padding: 10px;
    
            .lpn {
                border: 2px solid #000;
                border-radius: 4px;
                position: relative;
                line-height: 0;
                clear: both;
                height: 80px;
                div {
                    &:first-child {
                        
                        float: right;
                        padding: 4px;
                        text-align: center;
                        width: 20%;
                        img {
                            width: 100%;
                            margin-bottom: 5px;
                            max-height: 10px;
                        }
                        input {
                            width: 100%;
                            background-color: transparent;
                            border: none;
                            line-height: 0;
                            text-align: center;
                            outline: none;
                            height: 57px;
                            font-size: 3.5rem;
                        }
                    }
                    &:nth-child(2) {
                        width: 73%;
                        height: 100%;
                        float: right;
                        border-left: 2px solid #000;
                        border-right: 2px solid #000;
                        input {
                            width: 33%;
                            border: none;
                            font-size: 4.4rem;
                            background-color: transparent;
                            border: none;
                            // line-height: 1.2;
                            height: 100%;
                            padding-top: 10px;
                            text-align: center;
                            &:nth-child(2) {
                                width: 25%;
                            }
                        }
                    }
                    &:last-child {
                        position: absolute;
                        float: right;
                        left: 0;
                        width: 7%;
                        font-size: 2.5rem;
                        bottom: 0;
                        top: 0;
                        margin: auto;
                        background-image: url(../../../../../assets/images/plate-side.svg);
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .register-car .lpn-section .lpn div:nth-child(2) input {
        font-size: 2rem;
    }
    .register-car .lpn-section .lpn div:first-child input {
        font-size: 1.5rem;
        
    }
    .register-car .lpn-section .lpn {
        height: 65px;
    } 
}
@media only screen and (max-width: 980px) {
    .register-car section .lpn-section .lpn div:nth-child(2) input {
        font-size: 2.2rem;

    }
    .register-car section .lpn-section .lpn {
        height: 50px;
    }
    .register-car section .lpn-section .lpn div:first-child input {
        font-size: 1.8rem;
        height: 34px;
    }
}

