<div class="row center-xs">
  <div class="col-lg-6 col-sm-8 col-xs-12">
    <div class="register-car">
        <section class="header">ثبت خودروی جدید</section>
        <section>
          <div class="car-brand">
            <img src="{{ car.company.image }}" alt="{{car.company.title}}">
            <h1>{{ car.company.title }}</h1>
            <h2>{{ car.model.title }}</h2>
          </div>

          <div class="row center-xs">
            <div class="col-lg-6 col-xs-12">
              <table>
                <tr>
                  <th>رنگ</th>
                  <td>{{ car.color.title }}</td>
                </tr>
                <tr>
                  <th>سال ساخت</th>
                  <td>{{ car.year }}</td>
                </tr>
                <tr>
                  <th>شماره شاسی</th>
                  <td>{{ car.vin }}</td>
                </tr>
              </table>
            </div>
            <!-- <div class="col-xs-3">
              <ul class="title">
                <li>رنگ</li>
                <li>سال ساخت</li>
                <li>شماره شاسی</li>
              </ul>
            </div>
            <div class="col-xs-3">
              <ul class="body">
                <li>{{ car.color.title }}</li>
                <li>{{ car.year }}</li>
                <li>{{ car.vin }}</li>
              </ul>
            </div> -->
          </div>
          <div>
            <div class="lpn-section">
              <div class="lpn">
                <div>
                  <img src="assets/images/iran.png">
                  <input type="text" [value]="car.lpn.iranCode">
                </div>
                <div>

                  <input type="text" [value]="car.lpn.code3">
                  <input type="text" [value]="car.lpn.code2">
                  <input type="text" [value]="car.lpn.code1">

                </div>
                <div class="lpn-iran-map"></div>
              </div>
            </div>
          </div>
          <div class="row btn-box center-xs">

            <div class="col-lg-2 col-xs-4">
              <button (click)="pre()" class="btn btn-primary btn-sm full-width" type="button">بازگشت</button>
            </div>
            <div class="col-lg-2 col-xs-4">
              <button (click)="cancel()" class="btn btn-primary btn-sm full-width" type="button">انصراف</button>
            </div>
            <div class="col-lg-2 col-xs-4">
              <button (click)="next()" class="btn btn-primary btn-sm full-width" type="button">تایید</button>
            </div>

          </div>
        </section>
    </div>
  </div>
</div>








<!-- <table class="uk-table uk-table-responsive uk-table-striped">
  <tr>
    <th>سازنده</th>
    <td>{{ car.company.title }}</td>
  </tr>
  <tr>
    <th>مدل</th>
    <td>{{ car.model.title }}</td>
  </tr>
  <tr>
    <th>رنگ</th>
    <td>{{ car.color.title }} <span [ngStyle]="{background: car.color.hex}" style="height: 50px; width: 50px; display:  block;"></span></td>
  </tr>
  <tr>
    <th>سال ساخت</th>
    <td>{{ car.year }}</td>
  </tr>
  <tr>
    <th>پلاک</th>
    <td>
      <app-pelak [iranCode]="car.lpn.iranCode" [code1]="car.lpn.code1" [code2]="car.lpn.code2" [code3]="car.lpn.code3"></app-pelak>
    </td>
  </tr>
  <tr>
    <th>شماره شاسی</th>
    <td>{{ car.vin }}</td>
  </tr>
</table>
<div class="uk-padding-medium uk-flex uk-flex-center">
  <button (click)="next()" class="uk-button uk-button-primary" type="button">تایید</button>
  <button (click)="cancel()" class="uk-button uk-button-secondary uk-margin-left" type="button">انصراف</button>
  <button (click)="pre()" class="uk-button uk-button-secondary uk-margin-left" type="button">بازگشت</button>
</div> -->
