@import '../../../../../assets/scss/variables/color';
@import '../../../../../assets/scss/mixin/css3';
.margin-top {
    margin-top: 20px;
}
.workshop-attachment {
    table {
        margin-top: 20px;
    }
    .effect {
        background-color: #fff;
    }
}
::placeholder {
    color: #9198b2;
    opacity: 1;
    text-align: right;
}
:-ms-input-placeholder {
    color: #9198b2;
    text-align: right;
}
::-ms-input-placeholder {
    color: #9198b2;
    text-align: right;
}
#upload-btn {
    i {
        font-size: 30px;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
}
.file-input-compon {
    .file-detaile {
        border: 1px solid map-get($colors, 'primary');
        border-radius: 4px;
        text-align: right;
        margin-bottom: 10px;
        vertical-align: bottom;
        height: 37px;
        line-height: 2;
        span {
            font-size: 16px;
            display: block;
            overflow: hidden;
            float: right;
            &:first-child {
                width: 15%;
                padding-right: 5px;
            }
            &:last-child {
                width: 82%;
            }
        }
    }
    button {
        display: inline-block;
        width: 110px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    div.file-detaile {
        display: inline-block;
        width: calc(100% - 115px);
        margin-right: -6px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}
.waite-to-upload {
    app-spiner {
        position: absolute;
        margin-top: -90px;
    }
}
table {
    thead {
        th {
            padding: 10px 0;
            font-size: 0.8rem;
        }
    }
    tbody {
        td {
            line-height: 2;
            font-size: 0.8rem;
        }
    }
}
.remove-btn {
    background: none;
    border: none;
    color: #ff0000;
    cursor: pointer;
}
@media only screen and (max-width: 500px) {
    .file-input-compon {
        .file-detaile {
            span {
                &:first-child {
                    display: none;
                }
            }
        }
    }
}
