<div class="workshop-attachment margin-top">
    <div class="row">
        <div class="col-lg-8 col-xs-12 file-input-compon">
            <input #fileInput type="file" (change)="handleFileInput($event.target.files)" name="file" style="position: absolute; visibility: hidden">
            <button class="btn btn-primary btn-sm" (click)="selectFile()" title="انتخاب فایل">
                انتخاب فایل
            </button>
            <div class="file-detaile" title="آدرس فایل">
                <span>فایل |</span>
                <span>{{ fileName }}</span>
            </div>
        </div>
        <div class="col-lg-2 col-xs-12">
            <div class="waite-to-upload" *ngIf="loading">
                <app-spiner></app-spiner>
            </div>
        </div>
        <div class="col-lg-2 col-xs-12">
            <button id="upload-btn" class="btn btn-success btn-sm full-width" [disabled]="loading || !selectFileDirty" (click)="uploadFile()"
                title="آپلود فایل">
                اضافه کردن
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" [appHasError]="descriptionInput">
            <div class="form-effect tooltip-danger" [appTooltipError]="descriptionInput">
                <textarea name="description" class="effect" placeholder="توضیحات |" [(ngModel)]="description" #descriptionInput="ngModel"
                    required title="توضیحات فایل"></textarea>
                <span class="focus-border">
                    <i></i>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="parent-table">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th>فایل</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let file of sc.attachments">
                            <td>{{ file.description }}</td>
                            <td>
                                <button (click)="removeAttachment(file)" class="remove-btn">
                                    <i class="icon icon-close icon-1x"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>