<!-- <div class="pelak">
  <div class="sec sec1">
      <span class="code-1">{{ code1 }}</span>
      <span *ngIf="code2 !== ' '" class="code-2">{{ code2 }}</span>
      <span *ngIf="code2 === ' '" class="code-2">
        <i class="material-icons">accessible</i>
      </span>
      <span class="code-3">{{ code3 }}</span>
  </div>
  <div class="sec sec2">
      <span class="iran">ایران</span>
      <span class="iran-code">{{ iranCode }}</span>
  </div>
</div> -->

<!-- -----------------------NEW--------------------- -->

<div class="r-plate r-plate-view">
    <div class="r-c1">
        <label for="plate-right" class="r-text r-font">ایران</label>
        <label class="r-text uk-display-block">{{ iranCode }}</label>
    </div>
    <div class="r-c2">
        <label class="r-text r-mid">{{ code3 }}</label>
    </div>
    <div class="r-c3">
        <label class="r-text r-mid">{{ code2 }}</label>
    </div>
    <div class="r-c4">
        <label class="r-text r-mid">{{ code1 }}</label>
    </div>
    <div class="r-c5 ">
        <img src="assets/images/plate-side.png" alt="plate-side">
    </div>
</div>