.pelak {
    direction: ltr;
    font-size: inherit;
    .sec {
        display: inline-block;
        border: 0.1em solid black;
        background: #ffffff;
        color: black;
        // height: 2em;        
    }
    .sec1 {
        background-image: url(/assets/images/pelak.png);
        background-size: auto 100%;
        background-position: -1px 0;
        background-repeat: no-repeat;
        padding: 0.6em 0.4em 0.6em 0;
        border-top-left-radius: 0.33em;
        border-bottom-left-radius: 0.33em;
        span {
            float: left;
            margin-left: 0.3em;
            line-height: 0.95em;
            font-size: 1em;
        }
        .code-1 {
            margin-left: 1.5em;
        }
        .code-2 {
            i {
                color: #000 !important;
                line-height: 0;
                position: relative;
                top: 0.3em;
                font-size: 1.4em;
            }
        }
    }
    .sec2 {
        margin-left: -0.33em;
        vertical-align: top;
        padding: 0.105em 0.4em;
        border-top-right-radius: 0.33em;
        border-bottom-right-radius: 0.33em;
        & > span {
            display: block;
        }
        span.iran {
            font-size: 0.7em;
            line-height: 1em;
            margin-top: 0.2em;
        }
        span.iran-code {
            line-height: 1em;
            font-size: 1em;
            margin-top: 0.1em;
        }
    }
}