@import '../../../../../assets/scss/mixin/css3';
@import '../../../../../assets/scss/variables/color';

.footer-link {
  font-size: 16px;
  text-decoration: none;

  &:hover {
    color: map-get($colors, 'primary') !important;
  }
}

.mb-f-b {
  margin-bottom: 15px;
}

.mt-a-b {
  margin-top: 10px;
}

.btn-block {
  width: 100%;
}

#code-inputs {
  input {
    width: 100%;
    height: 34px;
    border-radius: 3px;
    font-size: 14px;
    font-family: inherit;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    // appearance: none;
    background-color: none;
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 10px 8px;
    border-radius: 4px;
    font-weight: 100;
  }
}
