<p class="alert alert-danger" *ngIf="validation && !validation.ok">
  {{ validation.message }}
</p>

<div>
  <div class="mb-f-b">
    <label class="label" for="code-inputs">کد ارسالی</label>
    <div class="row center-xs" id="code-inputs">
      <div class="col-xs-2">
          <input #code5 type="text" tabindex="5" (keyup)="keytab($event, 6)" [(ngModel)]="code[4]" required minlength="1" maxlength="1" required>
      </div>
      <div class="col-xs-2">
          <input #code4 type="text" tabindex="4" (keyup)="keytab($event, 5)" [(ngModel)]="code[3]" required minlength="1" maxlength="1" required>
      </div>
      <div class="col-xs-2">
          <input #code3 type="text" tabindex="3" (keyup)="keytab($event, 4)" [(ngModel)]="code[2]" required minlength="1" maxlength="1" required>
      </div>
      <div class="col-xs-2">
          <input #code2 type="text" tabindex="2" (keyup)="keytab($event, 3)" [(ngModel)]="code[1]" required minlength="1" maxlength="1" required>
      </div>
      <div class="col-xs-2">
          <input #code1 type="text" tabindex="1" (keyup)="keytab($event, 2)" [(ngModel)]="code[0]" required minlength="1" maxlength="1" required>
      </div>
    </div>
  </div>
  <button #submitBtn tabindex="5" class="btn btn-success btn-sm btn-block" (click)="onSubmit()">تایید</button>
  <button class="btn btn-warning btn-sm btn-block" (click)="sendSms()" [disabled]="!canReloadMessage">ارسال مجدد پیامک</button>
</div>
<div class="row mt-a-b">
  <div class="col-xs-12 text-center">
    <a class="text-secendry footer-link" routerLink="/user/login">ورود</a>
  </div>
</div>
