@import '../node_modules/reset-css/_reset';
@import './assets/scss/style';



* {
    font-family: IRANSans;
    font-style: normal;
}
// TODO: go this code to kit
// -->
.text-left {
    text-align: left !important;
}
.text-center {
    text-align: center !important;
}
.text-right {
    text-align: right !important;
}
//  <--
.marker-popup {
    .leaflet-popup-content-wrapper {
        border-radius: 0;
        background: white;
        padding: 0;
        .leaflet-popup-content {
            margin: 0;
            height: 120px;
            overflow: hidden;
            img {
                float: right;
                width: auto;
                height: 100%;
                margin-right: -59px;
            }
            .left-section {
                float: left;
                height: 120px;
                width: 279px;
                // line-height: 24px;
                text-align: right;
                direction: rtl;
                padding: 10px;
                h3 {
                    font-style: bold;
                    font-size: 1.3rem;
                    font-family: IRANSans;
                    color: map-get($colors, 'primary');
                    line-height: 30px;
                    overflow-y: hidden;
                    max-height: 29px;

                }
                p {
                    margin: 0;
                    font-family: IRANSans;
                    color: lighten(map-get($colors, 'primary'), 20%);
                    line-height: 23px;
                    height: 23px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                i {
                    position: initial;
                    font-size: 20px;
                    display: inline;
                    vertical-align: text-top;
                    top: 6px;
                    color: darken(map-get($colors, 'light'), 40%);
                }
                .link-box {
                    background: map-get($colors, 'primary');
                    margin: 0 -10px;
                    height: 35px;
                    a {
                        display: inline-block;
                        width: 50%;
                        text-align: center;
                        font-family: IRANSans;
                        font-size: 1.1rem;
                        text-decoration: none;
                        color: map-get($colors, 'light');
                        height: 20px;
                        vertical-align: middle;
                        line-height: 15px;
                        margin-top: 8px;
                    }
                    a:hover {
                        color: map-get($colors, 'secendry');
                    }
                    a:first-child {
                        margin-left: -4px;
                        border-left: 1px solid map-get($colors, 'light');
                    }
                }
            }
        }
    }
    .leaflet-popup-tip-container {
        visibility: hidden;
    }
}

.reglazh-calendar {
    .dp-picker-input {
        background: #fff;
        border: 1px solid #3d5680;
        border-radius: 3px;
        padding: 5px 10px;
        width: 100%;
    }
    .dp-popup {
        padding: 10px;
    }
    dp-calendar-nav {
        .dp-calendar-nav-container {
            border: none;
            border-bottom: 1px solid #3d5680;
            padding-bottom: 18px;
            height: 51px;
        }
        .dp-nav-header-btn {
            background: #3d5680;
            color: #fff;
            padding: 2px 10px;
            border: 1px solid #3d5680;
            border-radius: 2px;
        }
        .dp-calendar-nav-right,
        .dp-calendar-nav-left {
            background: #3d5680;
            border: 1px solid #3d5680;
            color: #fff;
            padding: 2px 5px;
            padding: 5px 5px;
            border-radius: 2px;
            width: 40px;
        }
    }
    dp-time-select .dp-time-select-control-up,
    dp-time-select .dp-time-select-control-down {
        background: #3d5680;
        border: 1px solid #3d5680;
        text-align: center;
        border-radius: 2px;
        width: 30px;
    }
    dp-day-calendar .dp-calendar-day,
    dp-month-calendar .dp-calendar-month {
        border: none;
    }
}
.wrapper {
    max-width: 1500px;
}
.leaflet-top .leaflet-control {
    margin-top: 35px;
}
dp-time-select .dp-time-select-control-up,
dp-time-select .dp-time-select-control-down {
    background: no-repeat;
    border: none;
}
span.dp-time-select-display-hours,
span.dp-time-select-display-minutes,
span.dp-time-select-display-meridiem {
    // border: 1px solid #6c7f9f;
    color: #00a9fe;
    padding: 2px;
}
dp-time-select .dp-time-select-control {
    color: #00a9fe;
}
a[disabled='disabled'] {
    // pointer-events: none;
    cursor: not-allowed;
}


