<div class="wrapper container-fluid">
  <div class="steps">
    <section class="number-step" [ngClass]="{'active': step === 3}">3</section>
    <section class="line"></section>
    <section class="number-step" [ngClass]="{'active': step === 2}">2</section>
    <section class="line"></section>
    <section class="number-step" [ngClass]="{'active': step === 1}">1</section>
  </div>
  <div class="row center-xs">
    <div class="col-lg-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
