@import '../../../../assets/scss/variables/color';
@import '../../../../assets/scss/mixin/css3';

.steps {
    margin-top:20px;
    text-align: center;
    section {
        display: inline-block;
        &.line {
            width: 100px;
            border-top: 1px solid map-get($colors, 'primary');
            height: 5px;
        }
        &.number-step {
            border-radius: 50%;
            width: 25px;
            height: 25px;
            border: 1px solid grayscale(map-get($colors, 'primary'));
            color: grayscale(map-get($colors, 'primary'));
            text-align: center;
            line-height: 1.6;
        }

        &.number-step.active {
          border: 1px solid map-get($colors, 'primary');
          color: map-get($colors, 'primary');
          @include transform(scale(1.5));
        }
    }
}

@media only screen and (max-width: 600px) {

    .steps {
        section {
            &.line {
                width: 50px;
            }
        }
    }
}