.center {
    text-align: center;
}
.pending {
    color: #28a745;
    font-weight: 700;
}
.accepted {
    color: #3399ff;
    font-weight: 700;
}
.card-view {
    height: 95%;
    padding: 10px;
    padding-bottom: 0;
    h1 {
        font-size: 1rem;
    }
    h2 {
        font-size: 0.7rem;
        line-height: 1rem;
    }
    .details {
        text-align: center;
        height: auto;
        margin-bottom: 13px;
        border-radius: 3px;
        p {
            font-size: 0.8rem;
            line-height: 2;
            padding-right: 0px;
            // line-height: 1.;
            &:first-child {
                margin-bottom: 13px;
                font-size: 0.9rem;
                margin-top: 13px;
                text-align: center;
            }
        }
        .address {
            margin-top: 5px;
            p {
                margin-right: 10px;
            }
            i {
                font-size: 1.5rem;
            }
        }
        .img-height {
            img {
                height: 100%;
                width: 100%;
                display: block;
                border-radius: 3px;
            }
        }
    }
}
.add-car {
    border: 1px solid #3d5680;
    border-radius: 4px;
    text-align: center;
    position: relative;
    margin-top: 10px;
    min-height: 300px;
    height: 95%;
    -webkit-box-shadow: 3px 3px 10px -5px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 10px -5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    span {
        width: 85px;
        height: 83px;
        font-size: 6rem;
        color: #ccc;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        h1 {
            font-size: 1rem;
        }
    }
}
@media only screen and (max-width: 768px) {
    .add-car {
        height: 220px;
        margin-top: 30px;
    }
}
@media only screen and (max-width: 767px) {
    .card-view {
        .details {
            height: auto;
            padding-bottom: 0;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
