<div class="wrapper container-fluid">

    <div class="row">
        <div class="col-lg-3 col-sm-4 col-xs-12" *ngFor="let sc of serviceCenters">
            <div class="card-view">
                <section>
                    <h1>{{ sc.title }}</h1>
                    <h2 class="accepted">در حال بررسی</h2>
                    <div class="clear"></div>
                </section>

                <section class="details">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-xs-6 img-height">
                            <img [src]="sc.image" alt="{{ sc.title }} feature image">
                        </div>
                        <div class="col-lg-12 col-sm-12 col-xs-6">
                            <p class="center"></p>
                            <p>{{ sc.category }}</p>
                            <div class="row address">
                                <span class="col-xs-1">
                                    <i class="icon icon-marker icon-2x"></i>
                                </span>
                                <p class="col-xs-10">{{ sc.address }}</p>
                            </div>
                        </div>
                    </div>
                </section>
                <button class="btn btn-primary full-width btn-sm" [routerLink]="['/service-center', sc.id]">مشاهده</button>
                <button class="btn btn-primary btn-sm full-width" [routerLink]="['/service-center/edite', sc.id]">ویرایش</button>
                <button class="btn btn-danger full-width btn-sm" (click)="handleDeleteClick(sc.id)">حذف</button>
            </div>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-12">
            <div class="add-car" routerLink="../add" type="button">
                <span>
                    +
                    <h1>ثبت تعمیرگاه</h1>
                </span>
            </div>
        </div>
    </div>
</div>